[2017-09-06 18:09] hiranya911 opened #14 "Allow Users to Specify the Context when Accessing Individual Clients"
Currently `App` holds on to a `context.Context`, and passes it to all internal packages that need it (e.g. `auth.NewClient()`). As we add more packages to this SDK, we might want to give users more control over the context passed into individual operations. Therefore functions like `app.Auth()` should accept a context, and use that instead of the one passed in when creating the `App.`

[2017-09-09 03:02] jprobinson opened #17 "FR: enable custom token creation on App Engine without a JSON credentials file"
In the App Engine standard environment, the code could likely be much simpler and easier to configure if it relied on [`appengine.ServiceAccount`](https://godoc.org/google.golang.org/appengine#ServiceAccount) and [`appengine.SignBytes`](https://godoc.org/google.golang.org/appengine#SignBytes) to generate custom auth tokens.

I imagine this would require a refactor to accept a `"context"` for most

[2017-09-09 04:18] hiranya911 commented on #17
Perhaps we can avoid the API change by using the context already present in `internal.AuthConfig`. I'm currently working towards making it possible to pass a context into `app.Auth()`, which will make that option more attractive.

We can introduce a new private interface:
[code]

Then provided we have a context already present in `auth.Client`, we can do something like the following in `CustomToke

[2017-09-13 22:34] hiranya911 commented on #17
This was [released](https://firebase.google.com/support/release-notes/admin/go#1.0.2) today. Thanks @jprobinson for contributing. Hope you would continue to support this project.

[2017-09-13 22:34] #17 closed

[2017-09-14 23:24] Waterwolf-C4 opened #24 "go get firebase.google.com/go ( install Firebase Admin Go SDK failed)"
###: Describe the problem
try to setup firebase auth clinet and verify token on golang backend
follow https://firebase.google.com/docs/admin/setup

stop at #go get firebase.google.com/go

error message:
# firebase.google.com/go/auth
../firebase.google.com/go/auth/auth.go:82: c.Creds.JSON undefined (type *google.DefaultCredentials has no field or method JSON)
../firebase.google.com/go/auth/auth.go:

[2017-09-15 03:40] hiranya911 commented on #24
You need to update your golang.org/x/oauth2 package. The `JSON` field was added to `DefaultCredentials` a few weeks ago:

https://godoc.org/golang.org/x/oauth2/google#DefaultCredentials

[2017-09-15 03:41] #24 closed

[2017-09-21 03:22] ernsheong opened #25 "API Reference link in README is a 404"
It currently points to https://firebase.google.com/docs/reference/admin/go/, which is a 404.

[2017-09-25 22:07] #25 closed

[2017-10-22 09:30] ernsheong commented on #17
@hiranya911 would this be possible with Compute Engine, not App Engine?

[2017-10-24 10:58] ellulpatrick opened #35 "FR: Support for Realtime Database"
Are there plans for this library to allow realtime access to the firebase realtime database?

Great work.

[2017-10-24 17:22] hiranya911 commented on #35
There's something in the works (see the `hkj-rtdb` branch).

[2017-10-31 00:39] ellulpatrick commented on #35
May I ask if the intention is to use purely the REST API or if it will use a realtime connection as a proper client would?

[2017-10-31 06:16] hiranya911 commented on #35
Those are orthogonal issues. It is possible to implement realtime event listeners using the REST API (although it might not be as efficient).

Current plan is to start off with a simple RTDB API based on REST support. If there's enough demand for it, we can implement realtime event listeners support incrementally. We would also welcome our open source community to help drive that effort by providi

[2017-10-31 18:08] hiranya911 commented on #14
This was released in 2.0

[2017-10-31 18:08] #14 closed

[2017-12-14 22:36] hiranya911 opened #52 "FR: CustomToken and VerifyIDToken Should Accept a Context"
These APIs currently do not accept a context, which is not correct. In our next major release (3.x), we should change these to accept a context like the other APIs in this package. This is unfortunately a breaking change, and hence cannot be released anytime soon.

[2018-01-15 20:48] ChrisBartonLC opened #72 "firebase.NewApp with credentials from memory instead of from file"
### Describe your environment

  * Operating System version: _____Docker
  * Firebase SDK version: _____Go HEAD of master branch
  * Library version: _____Go HEAD of master branch
  * Firebase Product: _____ (auth, database, storage, etc) auth

### Describe the problem

Is there a way to provide the credentials to "firebase.NewApp" as a byte array instead of a file via option.WithCredentialsFile?

[2018-01-15 21:31] hiranya911 commented on #72
Something along the lines of:

[code]

https://godoc.org/golang.org/x/oauth2/google#JWTConfigFromJSON

[2018-01-15 21:31] #72 closed

[2018-01-16 08:09] ChrisBartonLC commented on #72
Thanks but when I use that method I get the error "project id not available". If I write the same byte array to a file and then use "option.WithCredentialsFile(...)" it works

    	// conf, err := google.JWTConfigFromJSON(secretFirebaseLcWebCsr)
	// if err != nil {
	// 	share_log.Logger.Fatal("Failed initializing firebase client credential", share_log.Logger.FmtError(err))
	// }
	// share_log.Logg

[2018-01-16 08:12] ChrisBartonLC commented on #72
Thanks but when I use that method I get the error "project id not available". If I write the same byte array to a file and then use "option.WithCredentialsFile(...)" it works

[2018-01-16 18:28] hiranya911 commented on #72
What is the function/line that triggers the error?

[2018-01-16 20:32] ChrisBartonLC commented on #72
The error happens when I use the Auth client from the Firebase app so basically:

app := firebase.NewApp(ctx, nil, option.WithTokenSource(ts))
auth := app.Auth(ctx)
auth.VerifyIDToken(token)
-> { Invalid token: 'eyJh...samZQ': project id not available }

There is no problem is I go via a file. See attached file where "initFirebaseClientsCachingFile
[code.txt](https://github.com/firebase/firebase-a

[2018-01-16 21:11] ChrisBartonLC commented on #72
If I manually provide the Firebase project id I get this error:

firebase.NewApp(ctx, &firebase.Config{ProjectID: gcpProjectID}, opt)

 { Invalid token: 'eyJh...ZQ': Get https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com: oauth2: cannot fetch token: 400 Bad Request
Response: {
  "error" : "invalid_scope",
  "error_description" : "Empty or missing scope not all

[2018-01-16 21:36] hiranya911 commented on #72
`project_id` field gets lost when you take this route (along with a few others like `private_key`).  You can try passing it via `firebase.Config` instead. You might have to specify some OAuth2 scopes when calling `JWTConfigFromJSON()` to get past the other error.

Also might not be a bad idea to log a feature request against the https://godoc.org/google.golang.org/api/option package to provide a f

[2018-01-16 21:43] ChrisBartonLC commented on #72
Thanks I will. Seems JWTConfigFromJSON tries to decode to the struct below and the firebase service account has the following format so I can't see how the "project_id" got lost. I'll just use a tmp file until the Go SDK supports a byte array. Again thanks for your help

{"type":"service_account","client_email":"firebase-adminsdk-7tl4s@xx.iam.gserviceaccount.com","private_key_id":"84...40c15e","pr

[2018-01-16 21:51] hiranya911 commented on #72
The field gets parsed into the above struct, but what you pass into the Admin SDK is a `TokenSource`. That does not carry the project ID field.

[2018-01-16 21:51] ChrisBartonLC opened #73 "Please provide a byte array option for firebase.NewApp"
### Describe your environment

  * Operating System version: _____Docker
  * Firebase SDK version: _____Go HEAD of master branch
  * Library version: _____Go HEAD of master branch
  * Firebase Product: _____ (auth, database, storage, etc) auth

### Describe the problem

Please allow the credentials to be provided to "firebase.NewApp" as a byte array in addition to a file via the options. The reaso

[2018-01-16 21:56] ChrisBartonLC commented on #72
OK it works if I hard code the project id and as you said provide the Firebase scopes e.g.

    conf, err := google.JWTConfigFromJSON(credentialBytes,
		"https://www.googleapis.com/auth/cloud-platform",
		"https://www.googleapis.com/auth/datastore",
		"https://www.googleapis.com/auth/devstorage.full_control",
		"https://www.googleapis.com/auth/firebase",
		"https://www.googleapis.com/auth/identity

[2018-01-16 22:00] hiranya911 commented on #73
@ChrisBartonLC this is not something we can fix in the Admin SDK. Please report against the Google API client: https://github.com/google/google-api-go-client

https://github.com/google/google-api-go-client/blob/master/option/option.go#L27

[2018-01-16 22:00] #73 closed

[2018-01-30 01:24] hiranya911 opened #80 "Document the Units/Format of Auth Timestamps"
https://github.com/firebase/firebase-admin-go/blob/master/auth/user_mgt.go#L67 should state the units of the timestamp fields.

[2018-01-30 15:41] avishalom commented on #80
Marking as done, added comments to this and the other sdks as well, will be released Feb 14th.

[2018-01-30 15:41] #80 closed

[2018-02-07 02:58] k2wanko opened #83 "FR: Support for Firestore"
Around when will it support Firestore?

[2018-02-07 17:48] hiranya911 commented on #83
It already does: https://godoc.org/firebase.google.com/go#App.Firestore

[2018-02-07 17:48] #83 closed

[2018-02-18 15:28] chemidy opened #99 "FR : list of topic subscriptions"
We can now SubscribeToTopic and UnsubscribeFromTopic.

Is it possible to add a function ListTopicsForDevice based on "rel/topics" attribute  [from the Instance ID service](https://developers.google.com/instance-id/reference/server#get_information_about_app_instances) ?

[2018-02-20 00:28] hiranya911 commented on #99
Sounds like a useful feature to me. @sampson-chen any thoughts?

[2018-03-09 19:20] tbpg opened #110 "Import context from golang.org/x/net"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: N/A
  * Firebase SDK version: N/A
  * Library version: Master
  * Firebase Product: all

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
This could be a description, log/console output, etc.

go version 1.6
`go get -u firebase.google.com/go`

Log

[2018-03-09 21:18] mbleigh commented on #110
I believe Go 1.6 is not supported by the Firebase Admin SDK. @hiranya911 to confirm.

[2018-03-09 21:52] hiranya911 commented on #110
Correct. We never really supported 1.6 properly, and starting from last release we officially dropped 1.6 support: #101

Our documentation might be a little behind with regard to this change. I'll iron those our in the next few days.

[2018-03-09 21:52] #110 closed

[2018-03-10 19:37] chemidy commented on #99
Any update ? Can I send a PR ?

[2018-03-10 20:28] hiranya911 commented on #99
@chemidy Before putting any time into writing code, can you propose what this API is going to look like (method/type signatures)? I can take that to the FCM team and get their thoughts on it.

[2018-03-10 21:27] hiranya911 opened #112 "Malformed Error Messages from GetUser APIs"
This is an error message I received from a `GetUserByEmail()` call:

[code]

The SDK should do a better job at producing well-formed, developer-friendly error messages.

[2018-03-11 00:25] avishalom commented on #52
https://github.com/firebase/firebase-admin-go/pull/88

Breaking change - release at io

[2018-03-12 13:58] michaljemala opened #115 "Invalid endpoint URL for topic unsubscribe"
This relates to `messaging` package, where topic unsubscribe action uses wrong `op`. This causes incorrect endpoint to be hit, i.e. `iid/v1:batchAdd` instead of `iid/v1:batchRemove`.

[2018-03-12 13:59] tbpg commented on #110
Any way to revisit that decision? I have [a PR](https://github.com/firebase/firebase-admin-go/compare/master...tbpg:context) ready which brings back compatibility.

Go 1.6 is still available in AppEngine, which we need to support in https://github.com/GoogleCloudPlatform/golang-samples/. In particular, I'm working on extending https://cloud.google.com/appengine/docs/standard/go/building-app/ to su

[2018-03-12 18:15] hiranya911 commented on #115
Thanks for pointing this out. Will fix for next release.

[2018-03-12 18:21] hiranya911 commented on #110
Why not use golang1.8 in App Engine? Given that Go no longer supports anything older than 1.9 (see https://golang.org/doc/devel/release.html), it seems unnecessary to support something as old as 1.6.

[2018-03-12 18:27] tbpg commented on #110
AppEngine Standard still has 1.6 available.

[2018-03-12 18:31] hiranya911 commented on #110
That is true, but developers can choose 1.8 when using Firebase. Is there any reason that takes that choice out of the picture?

[2018-03-12 18:42] tbpg commented on #110
Some users are stuck on older versions of Go without an easy ability to upgrade. So, for https://github.com/GoogleCloudPlatform/golang-samples/, we support all possible versions of Go.

[2018-03-12 20:19] hiranya911 commented on #110
In #98 we found that the Admin SDK never really supported Go 1.6. What's interesting is that we didn't hear about this from any users. We discovered it ourselves while setting up CI for Go 1.6. So I think it's fair to assume that all Admin SDK users are already on Go 1.7 or higher. Given that, and all the internal discussions we've had on this topic, I'm reluctant to go back.

But if you're willin

[2018-03-13 13:21] niocncn opened #116 "sender id does not match regisration token"
I have an error

`http error status: 403; reason: sender id does not match regisration token; code: mismatched-credential`

everything made as said in documentation, i can send push notification from firebase web interface, but not from server.

my code is

[code]

[2018-03-13 16:13] chemidy commented on #116
You can have more informations for error code [here](https://firebase.google.com/docs/cloud-messaging/admin/errors)

[2018-03-13 16:45] niocncn commented on #116
i made all steps as said in documentation, and i can send notification from console, these means device sdk works good, but server library throw exception

[2018-03-13 17:24] hiranya911 commented on #116
Make sure your service account JSON file comes from the same project. You don't have to specify a `ProjectID` in `Config` when using service accounts. Just let the SDK pick the project ID given in the credentials file.

[2018-03-13 17:54] niocncn commented on #116
I'm completely sure service account JSON comes from the same project. I have just one project.

[2018-03-13 18:01] niocncn commented on #116
I tried to send from localhost and from server, no difference.

[2018-03-14 11:51] martinflorek commented on #116
We have exactly the same problem. Interesting thing is that registering a FCM token into topic works, but sending a notification fails with the same `403` error response.

The only difference is that we are sending notification to a topic instead of to a token. And we are using the Firebase admin GO SDK on Google App Engine standard environment.

[2018-03-14 12:30] niocncn commented on #116
May be problem in users rules in "iam administration" panel? But i tried to add new, and to change rules for existing users, but it didn't make sence.

[2018-03-14 13:30] martinflorek commented on #116
We finally found the issue. Our Google Cloud project did not have enabled the Firebase Cloud Messaging API, just the Google Cloud Messaging.

After that initializing the GO Admin SDK without any credentials we are able to send push notifications. Also creating the credentials key JSON file in the Google Cloud console instead of in the Firebase console works.

[2018-03-14 13:42] niocncn commented on #116
yes, thanks! It fixes my problem too.

[2018-03-14 17:33] hiranya911 commented on #116
Great job figuring this out @martinflorek. This is the full response sent by the FCM in this case:

[code]

The SDK ignores the message and only looks at the error code, which results in the confusing error. We can probably improve this behavior of the SDK. I'll reopen the issue to keep track.

[2018-03-14 17:44] hiranya911 commented on #116
This behavior seems to be specific to the Go SDK. Node, Java and Python do include the `message` field in the exceptions thrown.

[2018-03-15 14:06] tbpg opened #119 "FR: Support Go 1.6"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a GitHub issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-03-15 15:11] tbpg commented on #110
Thank you, Hiranya! I appreciate it. I opened #119 and #120.

[2018-03-16 11:52] tbpg commented on #119
With #120 merged, the 1.6.x build is now green. Closing this.

[2018-03-16 11:52] #119 closed

[2018-03-20 12:23] matti777 commented on #52
Will this change enable re-using the auth client (and its key source cache) on AppEngine? See my issue at https://stackoverflow.com/questions/47864216/making-the-auth-client-cacheable-on-appengine

[2018-03-20 17:36] hiranya911 commented on #52
This alone will not fix it. Our `auth.Client` also keeps a reference to an `http.Client`. In AppEngine, the `http.Client` implementation caches the context internally, which makes it unusable after the current request has ended. The `http.Client` instances are [meant to be reusable](https://golang.org/pkg/net/http/#Client), so the Admin SDK is right to do what it does.

I've discussed this with th

[2018-03-21 06:28] matti777 commented on #52
Yeah I've always found GAE's urlfetch client having a reference to the context slightly inconvenient.. ok then, I shall fork and implement the httpKeySource caching mechanism for my own purposes. Currently the auth is taking 250-300ms per request which is obviously not ok.

[2018-03-27 23:50] #115 closed

[2018-03-27 23:51] hiranya911 commented on #35
Implemented in #92

[2018-03-27 23:51] #35 closed

[2018-03-27 23:52] hiranya911 commented on #112
Fixed in #113

[2018-03-27 23:52] #112 closed

[2018-03-30 20:46] timendez opened #128 "FR: Code Examples"
Unfortunately the majority of the documentation linked to in the README does not have Golang examples. Trying to do something as simple as read data from a reference isn't very clear, especially for people new to Go.

It would be fantastic and super helpful if you could include some basic examples in this repo.

Thanks!

[2018-03-30 22:15] hiranya911 commented on #128
@timendez we maintain our documentation at https://firebase.google.com/docs, which has plenty of samples. For instance the database documentation can be found at https://firebase.google.com/docs/database/admin/start.

The links in the README file are just for the convenience of the developers working on the SDK. If you want quick access to some samples you can also check under https://github.com/f

[2018-03-30 22:16] #128 closed

[2018-04-04 17:37] hiranya911 commented on #116
Error messages have been updated to include full details sent by the backend server.

[2018-04-04 17:37] #116 closed

[2018-04-09 17:55] FistOfTheNorthStar opened #130 "Installing Firebase Error"
### Environment
OS: macOS High Sierra 10.13.4
go version go1.10.1 darwin/amd64

### Problem
I have an error when installing the SDK when I run the command:

`go get firebase.google.com/go`

I get:

`# google.golang.org/api/internal`
`src/google.golang.org/api/internal/creds.go:36:10: undefined: google.CredentialsFromJSON`

When I build I get the exact same error as above.

[2018-04-20 11:27] matti777 commented on #52
Well I got around creating a fugly hack for this; added *http.Client param to the related methods. For here https://github.com/matti777/firebase-admin-go, branch breaking_context_change.

Hope to see the urlfetch thing going away soon.

[2018-04-25 02:31] CesarAlvarado opened #137 "Installing Firebase Error"
**Environment**
OS: macOS High Sierra 10.13.4
go version go1.8.3 darwin/amd64

**Problem**
I have an error when installing the SDK when I run the command:

`go get firebase.google.com/go`

I get

[code]
When I build I get the exact same error as above.

`go test -test.short firebase.google.com/go/...`

I get

`# google.golang.org/grpc/transport
src/google.golang.org/grpc/transport/http_util.go:570

[2018-04-25 03:33] hiranya911 commented on #137
`http2.SetReuseFramer()` is indeed defined: https://godoc.org/golang.org/x/net/http2#Framer.SetReuseFrames

Please update your dependencies. The SDK builds fine both locally and on Travis.

[2018-04-25 03:33] #137 closed

[2018-04-29 03:13] CDDelta opened #138 "FR: Support getting multiple user records at once by email"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a GitHub issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-05-02 10:05] ambernardino opened #139 "FR: Add channel ID to AndroidConfig"
### Describe your environment
  * Messaging/Notifications

### Describe the problem

If you target Android 8.0 (API level 26) and post a notification without specifying a notification channel, the notification does not appear and the system logs an error.

If needed I can implement this feature.

[2018-05-06 00:01] chemidy commented on #139
In the new [HTTP V1 API ](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification) android_channel_id is not present in the doc.

But in the [legacy Server Protocol](https://firebase.google.com/docs/cloud-messaging/http-server-ref#notification-payload-support) there was a android_channel_id.

Maybe an oversight ?

[2018-05-06 07:06] vr001 commented on #138
Submitted a PR https://github.com/firebase/firebase-admin-go/pull/140.

cc @CDDelta

[2018-05-06 18:42] hiranya911 commented on #139
The FCM team is working on it.

[2018-05-06 18:50] hiranya911 commented on #138
@vr001 can you describe your exact use case a little bit? In what circumstances would you need this feature? Knowing this will allow us to convince the rest of the Firebase team that this is something worth pursuing.

Also, is the same required for finding users by uid and phone number?

[2018-05-08 05:54] vr001 commented on #138
My use case is almost similar to what CDDelta mentioned. @hiranya911

[2018-05-08 17:10] hiranya911 opened #144 "Flaky Context Test in internal Package"
`TestContext()` in `internal/http_client_test.go` is flaky on Golang 1.6: https://github.com/firebase/firebase-admin-go/blob/master/internal/http_client_test.go#L176

This seems to be caused by some race conditions in Golang 1.6 itself. Lets keep an eye on it.

[2018-05-08 22:38] hiranya911 opened #145 "Rewrite user management integration tests using random UIDs"
Rewrite user management integration tests using random UIDs instead of fixed ones. With the current approach, whenever a test fails, we need to manually clean up all the user accounts before we can launch the tests again.

[2018-05-11 14:44] chemidy opened #147 "SDK v3.0.0 requires cloud.google.com/go v0.22.0."
Firebase admin go SDK v3.0.0 requires cloud.google.com/go v0.22.0.

I saw this error because i have a constraint on cloud.google.com/go in my Gopkg.toml.

With v0.21.0 i have an error :

[code]

Maybe it's time to add a Gopkg.toml to ensure compatibility ?
Or add a note in the Readme ?

[2018-05-11 20:54] hiranya911 commented on #147
We generally build and test against the latest versions of our dependencies. It is nice to not have to worry about versioning dependencies. `cloud.google.com/go` does the same as far as I can tell.

@chemidy can you elaborate on how the above error actually occurred? Your code has a dependency on Firestore 0.21.0, and Admin pulled in a more recent version. Is that what happened?

If so can you dro

[2018-05-15 17:59] hiranya911 commented on #147
@CesarAlvarado we haven't changed anything in the Admin SDK end. It's the Cloud Firestore API that has changed. Since Firestore is currently in beta, they certainly can make API changes. You can checkout a specific Admin SDK [tag](https://github.com/firebase/firebase-admin-go/releases), but that's unlikely to solve this issue. You might want to checkout a specific version of Cloud Firestore from h

[2018-05-16 19:27] holoduke opened #148 "Old GCM tokens result in The credential used to authenticate this SDK does not have permission ....."
whenever I try to send a notification with an old GCM token I get:

{"code":"messaging/mismatched-credential","message":"The credential used to authenticate this SDK does not have permission to send messages to the device corresponding to the provided registration token. Make sure the credential and registration token both belong to the same Firebase project."}}}

When I use a normal FCM token it

[2018-05-17 01:56] hiranya911 commented on #148
First of `admin.messaging().sendToDevice()` looks like Node.js. Are you in the right place? Secondly, I don't think GCM tokens are supported in the new messaging API.

[2018-05-17 16:53] mauipipe commented on #147
@chemidy just used tried to install using both go get or dep, My app is not compiling anymore.

[2018-05-17 17:34] chemidy commented on #147
With dep you can try this  in your Gopkg.toml :

[code]

instead of

[code]

[2018-05-17 18:12] mauipipe commented on #147
@chemidy thank you this fixed the problem

[2018-05-19 06:08] zxr90 commented on #72
The new API works for me but couldnt find it anywhere from the docs. Should this be documented? will be happy to submit a PR.

[2018-05-19 19:39] hiranya911 commented on #72
Thanks @zxr90. I don't know where exactly to fit such a sample in https://firebase.google.com/docs/admin/setup. But feel free to put a small PR together. I like to see what you got in mind.

[2018-05-21 18:52] hiranya911 commented on #52
This was released in 3.0.0.

[2018-05-21 18:52] #52 closed

[2018-05-24 10:04] kaskavalci opened #149 "FR: return identifiable errors in iid package"
InstanceID client returns a formatted error message: https://github.com/firebase/firebase-admin-go/blob/master/iid/iid.go#L88

Caller cannot distinguish the error and take action. Errors should be public and returned error should be the error itself.

[code]

[2018-05-25 18:18] hiranya911 commented on #149
Fair enough. We need to expose error checking functions like we did in the `auth` package.

[2018-05-25 18:23] hiranya911 commented on #148
Closing since this seems to be at the wrong place.

[2018-05-25 18:23] #148 closed

[2018-05-25 21:39] hiranya911 commented on #147
@chemidy, others, is there anything that must be done in the SDK to resolve this?

[2018-05-30 23:56] hiranya911 commented on #144
This just happened with 1.7. After some initial debugging it seems this is a problem with the `ctxhttp` package (possible race condition).

[2018-05-31 00:07] hiranya911 commented on #144
Possibly a side effect of the race condition referenced in https://github.com/golang/go/issues/14065

[2018-05-31 20:14] sampson-chen commented on #139
FCM team hopes to add this in the future for feature parity, but we do not have a timeline to share yet =)

[2018-06-12 20:38] hiranya911 commented on #144
Actually this is related to https://github.com/golang/go/issues/25852

[2018-06-28 14:51] bejayoharen commented on #147
Is there a way to fix this with go get? (I assume this is the same issue, sorry if it's not):

    $ cd $GOPATH
    $ go get firebase.google.com/go
    package cloud.google.com/go/firestore: cannot find package "cloud.google.com/go/firestore" in any of:
    	/usr/local/Cellar/go/1.10.2/libexec/src/cloud.google.com/go/firestore (from $GOROOT).
    	/Users/bjorn/Code/gocode/src/cloud.google.com/go/f

[2018-06-28 17:22] hiranya911 commented on #147
@bejayoharen you probably need to pass the `-u` flag to the command.

[2018-07-02 18:30] hiranya911 commented on #149
Fixed in #151

[2018-07-02 18:30] #149 closed

[2018-07-06 18:27] schmorrison opened #159 "Messaging returns 'invalid-argument' when APNs and Data map"
* Operating System version: Google App Engine
  * Firebase SDK version: 3.1.0
  * Firebase Product: Messaging

Firebase cloud messaging client seems to throw an 'invalid-argument' error when Message struct contains both a Data map and an APNS Config.

#### Relevant Code:
[code]

Sending this message results in the following error:
[code]

The notification is received successfully by removing the D

[2018-07-06 18:40] hiranya911 commented on #159
Problem is with your use of `from` as a key. Here's the full error message sent by the server:

[code]

From the [documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref):

[code]

[2018-07-06 18:40] #159 closed

[2018-07-24 00:03] fizzy123 opened #162 "http.DefaultClient is not available in App Engine"
* Operating System version: Google App Engine
  * Firebase SDK version: 3.2.0
  * Firebase Product: Auth

http.DefaultClient is not available in App Engine

#### Steps to reproduce:

Import firebase into any application running in google app engine.

[code]

#### Relevant Code:

[code]
was changed to
[code]
https://github.com/firebase/firebase-admin-go/commit/1d2a52c3c8195451b5ad2e0a173906bd6eb952

[2018-07-24 17:30] hiranya911 commented on #162
Thanks @fizzy123 for pointing it out. Fix in progress.

[2018-07-30 16:54] zeroflaw opened #166 "CredentialsFromJSON fails without specifying scopes"
Setting up firestorm using the google.CredentialsFromJSON is a bit messy. The scopes are specified in a internals files (which I'm not allowed to import). So I've had to copy and pate this code into mine to get the login to work.

[scopes](firebase-admin-go/internal/internal.go)
`// FirebaseScopes is the set of OAuth2 scopes used by the Admin SDK.
var FirebaseScopes = []string{
	"https://www.googl

[2018-07-30 17:34] hiranya911 commented on #166
Don't specify any scopes. `firebase.NewApp()` adds all the required scopes by default:

https://github.com/firebase/firebase-admin-go/blob/1d2a52c3c8195451b5ad2e0a173906bd6eb9529d/firebase.go#L138-L140

[2018-07-30 17:34] #166 closed

[2018-07-30 20:35] hiranya911 commented on #166
Follow up at https://github.com/google/google-api-go-client/issues/284

[2018-08-02 08:51] SebScoFr commented on #162
Any update on when this could get released? We also could do with the fix 🙂

[2018-08-02 16:57] hiranya911 commented on #162
I've been absolutely swamped. I'll find some time tomorrow (Friday) to get this released.

[2018-08-02 20:13] nadeemLGN commented on #139
Any updates on when this is going to be available on [HTTP V1 API](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification)

[2018-08-03 20:22] hiranya911 commented on #145
This has been resolved.

[2018-08-03 20:22] #145 closed

[2018-08-03 20:23] hiranya911 commented on #138
Auth team is doing some work to enable this feature. Stay tuned.

[2018-08-03 20:24] hiranya911 commented on #147
I'm closing this since it doesn't look like that should be addressed in this repo.

[2018-08-03 20:24] #147 closed

[2018-08-03 20:25] hiranya911 commented on #144
This issue has been addressed in Golang, but it's unlikely to be backported to old versions of Go. Closing, since there's not much that can be done in this repo towards "fixing" this.

[2018-08-03 20:25] #144 closed

[2018-08-10 18:44] SebScoFr commented on #162
Is there a way to make **go get** use the master branch for local development? Until this gets released.

[2018-08-10 20:38] hiranya911 commented on #162
This was released yesterday.

[2018-08-10 20:38] #162 closed

[2018-08-16 14:17] sillysachin opened #170 "FR - make Message Data interface{} instead map[string]string to allow other data types"
### Describe your environment

  * Firebase SDK version: 3.3.0
  * Firebase Product: Messaging/Notifications

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

We cannot use reuse a struct in the message data and instead we create a new map[string]string to be send as Data of FCM Message Data . So we have to trim out boolean, int , float into string and reprocess them again on

[2018-08-16 17:48] hiranya911 commented on #170
Back-end API does not support arbitrary types in the Data field. It only supports string key-value pairs: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#Message

@sampson-chen to follow up.

[2018-08-22 09:42] sillysachin commented on #170
Yes. Saw that when i modified the go code and tried to send out the data. But it runs counter to the firebase json concept of supporting notification with extra data. [go-fcm](https://github.com/NaySoftware/go-fcm) is able to send the arbitrary data  and works with android. Fails with iOS though. firebase-admin-go works with iOS but only supports string key-value making the coding on pojos terribl

[2018-08-23 17:57] davbeck opened #171 "How do you access the error code"
I'm working at integrating Firebase messaging into our service. We are storing device tokens in our database and using that list to send notifications. For APNS (not using Firebase), we can get an api response that indicates the app has been uninstalled from the device and can remove the token from our database. I can see in the source code for this project that there is an error code for this (re

[2018-08-23 18:02] hiranya911 commented on #171
Use this: https://godoc.org/firebase.google.com/go/messaging#IsRegistrationTokenNotRegistered

[2018-08-23 18:02] #171 closed

[2018-08-23 18:03] davbeck commented on #171
Perfect, thank you!

[2018-09-07 11:19] dobegor opened #173 "FR: Add subtitle for iOS push notifications"
### Describe your environment
  * Messaging/Notifications

### Describe the problem
We cannot send push notifications with subtitle for iOS due to [ApsAlert](https://godoc.org/firebase.google.com/go/messaging#ApsAlert) struct lacking a `subtitle` field.

FCM API and the APNS itself do support this field on iOS 9+ (and it's safely ignored on older versions).

[2018-09-07 17:13] hiranya911 commented on #173
Will implement this eventually. Please provide a pull request if you want to speed things up.

[2018-09-12 08:38] alyosha93 commented on #130
dep ensure -update golang.org/x/oauth2 should do it

[2018-09-12 13:59] palsivertsen opened #174 "auth/Client.VerifyIDToken should verify (some) fields before checking signature"
Field validation in auth/Client.VerifyIDToken(), like checking `Expires` and `IssuedAt`, should be done before the, potentially expensive, operation [verifyToken](https://github.com/firebase/firebase-admin-go/blob/10442ce72ae5afa134bdea11670094a04cfe5805/auth/auth.go#L223). Deep down `verifyToken` uses locking and issues a http request. Although this is not the biggest overhead, it would be nice i

[2018-09-13 07:55] palsivertsen commented on #174
Yes, I saw. But the locking still happens for every request

[2018-09-20 03:33] camstuart opened #177 "Unable to set multiple client options"
* Operating System version: OSX 10.13.6
  * Firebase SDK version: Unable to determine
  * Firebase Product:  Auth

Note: Running in GAE Standard dev environment under `dev_appserver.py`

I am attempting to verify firebase tokens, but I am not able to set up my `ClientOption` to use `urlfetch` by calling `WithHTTPClient`  when I am already using `WithCredentialsFile`

See example:
[code]

I am awar

[2018-09-28 12:21] lufia opened #179 "Question about FcmErrorCode"
### environment

  * Firebase SDK version: v3.4.0
  * Firebase Product: messaging

### question

I have looked FCM HTTP v1 API error response looks like:

[code]

Currently messaging/messaging.go is looked at `details` with expression: `d.Type == "type.googleapis.com/google.firebase.fcm.v1.FcmErrorCode"`.
Is `v1.FcmErrorCode` key correct?
https://github.com/firebase/firebase-admin-go/blob/master/m

[2018-10-05 02:48] aaahrens opened #180 "FR: Get IDTokens from test users"
Is there any way to get ID tokens from test users without having to use the c++ sdk or the node client? Just curious for testing purposes. Mocking an auth flow would be super nice

[2018-10-22 12:05] mmermerkaya opened #182 "Missing WebpushFcmOptions in WebpushConfig"
There is a new field in the FCM Send API that allows the user to set a link. It would be great if the Admin SDK supported this.

See [the reference docs](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#webpushconfig) for details.

[2018-10-23 03:31] tdh4vn opened #183 "Issue when install package"
Hi Firebase,
I using command go get firebase.google.com/go to install package, but it have some issue.

[2018-10-23 09:26] AshrafAnsari opened #184 "undefined: proto.InternalMessageInfo AND CredentialsFromJSON not declared by package google"
* Operating System version: Mac OS X 10.13.6 (17G65)
  * Firebase SDK version: 3.4.0
  * Library version: ?
  * Firebase Product: Messaging

#### Steps to reproduce:

I installed Firebase with `dep ensure -update` and the following entry in my `Gopkg.toml`:

[code]

Running build shows this error:
[code]

Running gometalinter shows these errors:
[code]

[2018-10-24 02:59] xufwind95 commented on #183
I'm having the same issue

[2018-10-24 10:44] xufwind95 commented on #183
i remove all the $GOPATH/src/ files, then install succeed

[2018-10-24 12:17] djui commented on #184
We resolved this issue internally by detecting a transient, diamond shape dependency constraint on  `golang.org/x/oauth2` (and `cloud.google.com/go`).

However, I **really really ask you to please fix your dependencies**, which would have let to _explicit_ constraint resolution errors by the dependency manager rather than _implicit_ compile or linting errors in the Go toolchain. We have all the to

[2018-10-28 21:00] dzbarsky opened #187 "Excessive dependencies for this package"
Hello,

It appears that compiling this project requires pulling in quite a few dependencies. After looking at the code a bit, it appears that things like grpc, opencencus, and some of the cloud APIs should not be necessary for simple usage (I am only using this package to call VerifyIDToken).

Could this package be refactored so that users don't need to compile a ton of packages to get simple func

[2018-10-30 13:38] chemidy opened #188 "FR: Manage Session Cookies"
Add Firebase Auth server-side session cookie management : https://firebase.google.com/docs/auth/admin/manage-cookies

[2018-11-05 18:47] djui opened #189 "Unable to set endpoint for messaging"
I try to set the base url for the client library so that during testing I can run requests against a FCM mock instead of doing internet requests. However, even with the following code, I can see the attempts to reach the official base url:

[code]

[code]

[code]

[2018-11-13 19:29] hiranya911 commented on #189
We currently ignore this option. It's simple enough to support -- it's just that nobody has asked for it before. We can look into supporting it in the future.

In the meantime I think you can implement your tests by using the `option.WithHTTPClient()` function, where the HTTP client is set up with a mock Transport/RoundTripper.

[2018-11-13 19:36] hiranya911 commented on #188
This is blocked on https://github.com/googleapis/google-api-go-client/tree/master/identitytoolkit/v3 to get updated. @bojeil-google has there been any progress towards getting those API descriptions updated?

[2018-11-13 21:01] hiranya911 commented on #187
Most of those dependencies are coming through Cloud Storage and Firestore, and they are critical for our users. They do not cause any runtime overhead. `go get` overhead is around 45 seconds on Travis (which should get amortized over a long time on developer workstations), and the compilation overhead is 1-2 seconds.

[2018-11-13 21:01] #187 closed

[2018-11-13 21:08] hiranya911 commented on #184
We don't do any explicit dependency management (and neither does cloud.google.com/go as far as I can tell). We compile against the latest versions of our cloud.google.com dependencies.

The above errors is due to a dependency that has failed to update in the local development environment.

[2018-11-13 21:08] #184 closed

[2018-11-13 21:09] hiranya911 commented on #183
Caused by an out of date dependency. `go get -u` should resolve this.

[2018-11-13 21:09] #183 closed

[2018-11-13 21:09] hiranya911 commented on #182
Fixed in #185

[2018-11-13 21:09] #182 closed

[2018-11-13 21:12] hiranya911 commented on #180
Create a custom token and exchange it for an ID token via the REST API. See how we do it in our integration tests: https://github.com/firebase/firebase-admin-go/blob/master/integration/auth/auth_test.go#L199

Or you can just mint a fake ID token yourself: https://github.com/firebase/firebase-admin-go/blob/master/auth/auth_test.go#L428

[2018-11-13 21:12] #180 closed

[2018-11-13 21:17] hiranya911 commented on #179
Good catch. I think it should be `FcmError`.

@sampson-chen can you please confirm?

[2018-11-13 21:21] hiranya911 commented on #177
`NewApp()` function accepts varargs. So you can do this:

[code]

[2018-11-13 21:21] #177 closed

[2018-11-13 21:21] hiranya911 commented on #174
Fixed

[2018-11-13 21:21] #174 closed

[2018-11-13 22:18] sampson-chen commented on #179
Yes, it should be `FcmError`.

[2018-11-13 23:39] djui commented on #189
Thanks, we thought about using the `option.WithHTTPClient()` but then decided to use for now use a thin client implementation for Messaging, internally.

I will track this issue, and if you guys feel like it's worth implementing, will switch back. The clients are pretty compatible. I am just sorry to not provide a PR to address this myself due to time constraints.

[2018-11-14 09:05] chemidy opened #193 "FR: configure the sound for a critical alert"
### Describe your environment

  * IOS Messaging/Notifications

###  Describe the problem

We cannot send push notifications with support of critical alert Sound for iOS due to ApsAlert struct.

Use Sound struct to configure the sound for a critical alert [as described here](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_noti

[2018-11-14 22:43] hiranya911 commented on #193
It looks like `Aps` can have a `sound` specified as either a string or a dictionary. We can certainly facilitate that. Following up from how we support `alert` both as a string and an object:

[code]

Feel free to put a PR together.

In the meantime one should be able to do the following:

[code]

[2018-11-15 23:34] hiranya911 commented on #179
This has been fixed in the dev branch.

[2018-11-15 23:34] #179 closed

[2018-11-17 04:51] wejick commented on #188
Need this feature too
Not sure if you can pick this up anytime soon, then can someone explain how to get the session cookie?
Looked onto node sdk it's using `identitytoolkit.googleapis.com` but can't find reference for `:createSessionCookie` API.

[2018-11-21 03:12] dzbarsky commented on #187
Hi, I understand your point, I am not asking you to remove them from the overall repo because I do understand some of your users get value from them. All I am asking is for the package to be refactored such that it is possible to compile a portion of it (say an `auth` subpackage) to do what I want without needing everything else.

The reason I am asking is because our deployment builds are from-sc

[2018-11-21 03:13] dzbarsky commented on #187
@hiranya911 ^^

[2018-11-22 00:41] chemidy opened #199 "FR : add email action links"
Recently Implemented on node API : https://github.com/firebase/firebase-admin-node/pull/364

- [generateSignInWithEmailLink](https://github.com/googleapis/google-api-go-client/blob/master/identitytoolkit/v3/identitytoolkit-gen.go#L2751)

[2018-11-24 21:09] chemidy commented on #189
You can set the endpoint with ```c.fcmEndpoint```

[code]

[2018-11-25 07:16] djui commented on #189
As `fcmEndpoint` is lowercased, thus unexported, I can’t access it.

[2018-11-29 05:43] rohansingh commented on #180
@hiranya911 Is it by design that [the `verifyCustomToken` endpoint](https://firebase.google.com/docs/reference/rest/auth/#section-verify-custom-token) isn't implemented?

[2018-11-29 06:36] hengkyz opened #200 "No function to use existing instance of app/client?"
i can't find a function to use existing instance of client/app,

`app, err := firebase.NewApp(context.Background(), nil)`

do we initialized the instance everytime we want to use it,
i thought that we just initialized the instance once

[2018-11-29 19:19] hiranya911 commented on #200
You get all the clients through the `app`. Please use StackOverflow for usage questions such as this.

[2018-11-29 19:19] #200 closed

[2018-11-30 07:12] hiranya911 commented on #180
Yes, that's not an operation we expect developers to use in typical flows. It's only use is for testing as far as I can tell (we use it in our own integration tests).

[2018-11-30 13:53] chemidy opened #201 "FR : project management"
add API for managing apps in a Firebase project.

[2018-11-30 14:36] rohansingh commented on #180
@hiranya911 That makes sense, though having the method implemented would enable a couple scenarios:

1. Testing, as you've mentioned. This is my main use case, and while I could definitely just do the same thing in my own tests, it'd be nice to just have it implemented. I'm strongly of the opinion that tests should be considered a first-class use case.

2. I can't quite put my finger on it at the

[2018-11-30 18:21] hiranya911 commented on #180
@bojeil-google what do you think?

[2018-11-30 18:36] bojeil-google commented on #180
`verifyCustomToken` is a client API. We prefer to keep it this way. It is treated as such from the Auth server.  and could be subject to similar restrictions that other client APIs are subject to. That said, I will relay this request to the rest of the team.

[2018-11-30 18:44] rohansingh commented on #180
That makes sense. As an alternative to introducing it to the `auth.Client` interface, I think it could also be helpful to have some sort of test helper that wraps the functionality. I know it's only about 20 lines of code and I've already replicated it in my own tests, but it'd be nice to have upstreamed.

[2018-11-30 22:48] hiranya911 commented on #173
This is implemented. Will be included in next release. Thanks @chmidy.

[2018-11-30 22:48] #173 closed

[2018-11-30 22:48] hiranya911 commented on #139
This is now available in our REST APIs. Added to the SDK in #202

[2018-11-30 22:48] #139 closed

[2018-12-01 11:34] chemidy commented on #201
I will work on it this week

[2018-12-03 00:06] mdere opened #203 "FR: Extend Or Customize Expiration of CustomToken + CustomTokenWithClaims"
Looking at this section:

[code]

Does it make sense for us to be able to adjust the expiration time?

[2018-12-12 05:22] rockwotj opened #206 "Automatically retry 503 errors for RTDB"
RTDB occasionally will service [503][1] status codes if the service is temporarily overloaded - currently the HTTPClient doesn't retry those operations, which are safe to be retried.

[1]: https://httpstatuses.com/503

[2018-12-12 21:54] omzouai-visor opened #207 "FR: `messaging.Aps` implements custom MarshalJSON but no UnmarshalJSON"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: MacOS 10.14
  * Library version: v3.5.0
  * Firebase Product:messaging

### [REQUIRED] Step 3: Describe the problem

`messaging.Aps` implements a custom JSON marshaler, causing the Go JSON marshaler to use the custom implementation. Since the custom marshaler mutates the data, the resulting data cannot be unmarshaled b

[2018-12-14 21:44] hiranya911 commented on #207
This is fixed now

[2018-12-14 21:44] #207 closed

[2018-12-14 22:00] hiranya911 commented on #203
Custom tokens cannot have an expire time longer than 1 hour: https://firebase.google.com/docs/auth/admin/create-custom-tokens#create_custom_tokens_using_a_third-party_jwt_library

There might be very specific instances, where a token with an even shorter expiry duration may be preferred. But I don't think it's a common enough use case to be supported in the SDK. One can always create and sign thei

[2018-12-14 22:00] #203 closed

[2018-12-14 22:01] hiranya911 commented on #193
This has been implemented.

[2018-12-14 22:01] #193 closed

[2018-12-19 18:09] fitzoh opened #210 "FR: Token verification clock skew"
* Operating System version: Win 10
  * Firebase SDK version: ?
  * Library version: v3.5.0
  * Firebase Product: auth

#### Steps to reproduce:

When I attempt to validate a token that was just created, it fails due to the token being created in the future.  This is presumably due to my clock being a couple milliseconds behind the firebase servers.

#### Relevant Code:
My server code
[code]
Fireba

[2018-12-21 18:02] fitzoh commented on #188
per @jadekler in googleapis/google-api-go-client#263 it's blocked until the firebase team updates the `identitytoolkit` API

[2018-12-21 19:04] hiranya911 commented on #210
In other languages we handle this by taking a fixed amount of clock skew (usually 5 minutes) into account. We can do the same here.

Here's the Python implementation for comparison:
https://github.com/googleapis/google-auth-library-python/blob/6e0781bb118a097b2398712901292d014a781278/google/auth/jwt.py#L176-L189

[2018-12-21 19:52] hiranya911 commented on #199
This is probably in the same boat as #188. @bojeil-google any update on when these REST API docs will be updated, so we can use the auto-generated Go client?

[2018-12-23 18:34] dzbarsky commented on #187
@hiranya911 friendly ping, would you accept a refactoring as I suggested above?

[2018-12-23 19:34] hiranya911 commented on #187
@dzbarsky that depends on the exact nature and scope of the refactor. If you outline your proposed changes, and point out how it will impact the public API surface, we will be happy to take a look.

[2018-12-24 18:51] dzbarsky commented on #187
A step in the right direction would be to define an option interface in your package rather than using this one: https://github.com/googleapis/google-api-go-client/blob/master/option/option.go#L27

However that wouldn't solve the issue, because https://godoc.org/google.golang.org/api/internal#DialSettings still depends on grpc.

A better design would be to abstract out the transport from the appli

[2018-12-24 20:04] hiranya911 commented on #187
That makes it quite complicated. The Google API client for Go is developed by a different team, so they are the people you really need to convince. To provide some historical context:

1. The API client team has been pretty adamant from the start that the Firebase Admin SDK should use the same options and the credentials as the API client. I wasn't a huge fan of this idea at first, but later came

[2018-12-25 04:23] gopalramadugu opened #212 "FR: User sign in with email link"
Is it possible to create a sign in method with email link only with Admin SDK ? I would like to use the same service in golang (Instead of having to maintain the web and mobile app services) for both my mobile app and website.

[2018-12-27 04:55] canhlinh opened #213 "FR: Sending message to multi devices"
Hi team,

Do you have any plan to support sending message to multiple devices ?
As technical document was described at here https://firebase.google.com/docs/cloud-messaging/android/send-multiple

That would be nice if the `firebase-go` can support this feature.

[2018-12-27 11:58] CDDelta commented on #138
Hi @hiranya911, do you have any updates to share regarding this feature? Thanks!

[2018-12-28 09:32] canhlinh commented on #213
@hiranya911 Sending message to multi tokens at the same time is a good choice.
I have already it with GCM and APNs. Please support on FCM

[2018-12-29 04:45] hiranya911 commented on #212
We haven't exposed any user authentication APIs in the Admin SDKs up to now. Nevertheless I'd like to run this by the Auth team and see what they think.

[2019-01-01 21:47] bojeil-google commented on #212
We currently have no plans to expose authentication APIs in our Admin SDKs. Our authentication APIs were designed to run client side. You are welcome to file an official [feature request](https://firebase.google.com/support/) for that.

[2019-01-02 05:00] #212 closed

[2019-01-02 20:23] bojeil-google commented on #199
Sorry about the delay. I will relay to the relevant parties.

[2019-01-04 22:01] hiranya911 commented on #210
Fixed in the dev branch.

[2019-01-04 22:01] #210 closed

[2019-01-11 00:53] fproulx-eoscanada commented on #188
Will that be fixed soon . ?

[2019-01-21 19:54] bojeil-google commented on #212
Hey @oshalygin, we are quite unlikely to expose authentication APIs in our Admin SDKs. This would be a major change in how the system works and what the admin SDK is designed to do. You are always welcome to file an [official feature request](https://firebase.google.com/support/).

[2019-01-23 00:55] hiranya911 commented on #206
Fixed in the dev branch

[2019-01-23 00:55] #206 closed

[2019-01-26 03:34] vr001 opened #218 "Able to generate custom token even for a non existing uid"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: mac 10.13
  * Firebase SDK version: 3.4.0
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem
Initialized the firebase using service account set up with GOOGLE_APPLICATION_CREDENTIALS.
using authentication client with CustomToken(), I am able to generate a custom token even for the UID that doesn't

[2019-01-26 03:38] bojeil-google commented on #218
This is the expected behavior. In fact this is the most common use case. Custom auth is used to sign in users for providers/sign in methods that Firebase Auth does not support.
If this is not desired for your project, you can always `getUser()` to check if the `uid` exists and if that returns no results, then fail the custom token generation request.

[2019-01-26 03:38] #218 closed

[2019-01-26 03:43] vr001 commented on #218
@bojeil-google Thanks for the quick response. So, the challenge is I am trying to verify the token which i generated using VerifyIDToken() and I am receiving invalid **JWT token failed to verify token signature**. Any help would be appreciated.

[2019-01-26 05:20] hiranya911 commented on #218
@vr001 how did you receive your ID token?

[2019-01-26 08:00] hiranya911 commented on #218
Ok, that makes sense. Although I'd expect the SDK to return a more specific error message in this case. Can you please comment on how you generated the custom token? I'd like to see if we can do something to improve the experience here.

[2019-01-27 04:02] vr001 commented on #218
Basically i created a custom token using CustomToken() and tried to verifying it using VerifyIDToken().

[code]

[2019-01-27 08:33] hiranya911 commented on #218
That's unusual. I get the error `expected an ID token but got a custom token` as expected when I run this:

[code]

https://github.com/firebase/firebase-admin-go/blob/f1dcecc6328cf3857fc970f450cca3965a90b422/auth/auth.go#L251-L257

[2019-01-27 08:44] Megalepozy opened #219 "FR: Adding of interfaces in order to support mocking"
Currently its complicated to unit test the usage (not its implementation) of this pkg cause it lack interfaces for mocking, my current solution is to encapsulate all of the pkg usage in a new pkg and supply interface for that but it will be a lot easier for developers to implement mocking if there were interfaces available.

Or maybe I just miss something? :)

[2019-01-27 19:14] hiranya911 commented on #219
@Megalepozy Go best practice is to declare interfaces at the consumer's end of an API. That means developers should declare interfaces for the subset of the SDK APIs they actually use. It seems you're already doing it, but I'll describe it a bit further for everyone's benefit.

For example suppose you have the following function that uses the Firebase SDK to set custom claims on a user:

[code]

T

[2019-01-27 19:14] #219 closed

[2019-01-28 19:31] hiranya911 opened #220 "Using HTTP Client for User Management"
In #60 we changed the user management code to use the auto-generated identity toolkit client instead of the HTTP client. This was a useful an interesting experiment that yielded some positive results in the short term. But I feel in the long run it has caused a couple of issues:

1. The auto-generated clients are not updated regularly, preventing us from launching new APIs at the pace we want.
2.

[2019-02-13 14:12] zinwalin opened #223 "[golang]Successfully sent message but not received on Android device."
[code]

I use the same service-account.json and topic for Python sample, and it works. Anyone use go version to send message?

[2019-02-13 18:18] hiranya911 commented on #223
Yes, I've tested it on numerous occasions. What is the error you got?

[2019-02-19 01:23] rcarver commented on #188
Any update here? I'd really like to use this feature.

[2019-02-19 06:55] bojeil-google commented on #188
We apologize for the delay. We are still working on exposing these new APIs in our discovery doc.

[2019-02-20 10:21] chemidy commented on #220
I think this is a useful, we can deliver new functions very quickly 👍

[2019-02-22 18:20] hiranya911 commented on #223
I'm closing this due to lack of details/follow up. Please provide more details like an error message or a message ID string if this needs to be revisited.

[2019-02-22 18:20] #223 closed

[2019-03-06 12:26] freekman opened #227 "unable to go get firebase.google.com/go v3.6.0+incompatible"
When I run ```go get firebase.google.com/go``` in my go.mod i get ```firebase.google.com/go v3.6.0+incompatible``` and the lib is missing from my  $GOPATH

My go version is ```go version go1.11 linux/amd64```

[2019-03-06 19:08] hiranya911 commented on #227
Works fine as far as I can tell. I have a number of apps that use this library with Go modules. Here's one example: https://github.com/hiranya911/firecloud/blob/master/review-scorer/scorer/go.mod

Also testing locally, I get this this:

[code]

Seems all good to me. If you're having trouble with Go modules to work, try reporting it at the official Golang GitHub repo. Go modules are supposed to wor

[2019-03-06 19:08] #227 closed

[2019-03-11 11:02] hosaka opened #228 "FR: Created protoDocument from proto.Message preserves generated XXX_* fields."
Hello,

  * Operating System version: Ubuntu 18.04.2 LTS
  * Firebase SDK version: 3.6.0
  * Library version: _____
  * Firebase Product: (auth, storage)

#### Steps to reproduce:

I am looking for a quick protobuf to firestore push, without fiddling with json or string maps in go. Reading the code I saw that `data interface{}` can be a struct or a pointer to a struct, passing the pb.Message works

[2019-03-14 03:34] johndelavega opened #229 "FR: realtime event listeners for Realtime Database"
Or provide some general info on how I may be able to code it myself.

Thanks
John

[2019-03-15 21:03] hiranya911 commented on #229
You can use the streaming support available in the RTDB REST API to implement this: https://firebase.google.com/docs/reference/rest/database/#section-streaming

That's how we supported it in our Python SDK.

[2019-03-15 21:05] hiranya911 commented on #228
Please report against the Firestore Go client: https://github.com/googleapis/google-cloud-go

[2019-03-15 21:05] #228 closed

[2019-03-21 00:10] johndelavega commented on #229
Looks like something I could do. You can assign it to me.

As you mentioned in issue#35 to do this incrementally, I could try to get something working with very basic support first then we can take it from there.

[2019-03-21 00:26] hiranya911 commented on #229
Thanks @johndelavega. I don't think our repos allow assigning issues to non-Googlers. But consider it assigned :)

As a first step, please outline what the public API of this feature would look like here. Once we settle on that, you can go ahead and try to implement it. I assume this API will return some sort of a channel that allows clients to receive and consume updates. It might not be a bad id

[2019-03-23 11:30] AndreiD opened #231 "Installing failure with go get"
By running

**go get firebase.google.com/go**

I get:

[code]

  * Operating System version: go version go1.11.1 windows/amd64

  * Firebase SDK version: latest ?
  * Library version: latest ?
  * Firebase Product:

#### Relevant Code:

## Thank you for taking the time to respond

[2019-03-23 11:38] AndreiD commented on #231
tried cloning the repo manually in GOPATH still no success

[2019-03-23 11:47] AndreiD commented on #231
after deleting the go.sum contents, and running go get -d ./... it finally worked.
##  I see other people have also issues installing this library and I suggest you debug the problem.  You're freaking Google Devs, I thought they give you hard interview tests when they hire you... you should be able to fix this in no time.

[2019-03-26 10:47] johndelavega commented on #229
Here are my suggestion for public API and does not include a channel, just a callback function, but we can probably create one that does include a channel. Internal code will use goroutines for the async nature of a listener. The empty interface arg is similar to existing public Get/Set API.

func (r *Ref) Listen(ctx context.Context, func(v interface{}) (*Event, error)
func (r *Event) Close() erro

[2019-03-26 17:21] hiranya911 commented on #229
The `ListenerRegistration` is equivalent to what you call `EventListener`.

Perhaps, a better way to do this in Go is to align with the Firestore listen API:

https://godoc.org/cloud.google.com/go/firestore#DocumentRef.Snapshots
https://godoc.org/cloud.google.com/go/firestore#DocumentSnapshotIterator

When applied to RTDB, this would look like this:

[code]

Something along these lines? @bklimt do

[2019-03-26 17:46] bklimt commented on #229
I really like having an `Unmarshal` method rather than having the callback take `interface{}`, because it means that consumers of the API (1) can use their own structs, and (2) don't have to guess the type of primitives (int vs int32, etc).

The trade-off between having a callback versus a `SnapshotIterator` is less obvious to me. I would ask @wilhuff if he has any advice.

[2019-03-26 18:20] johndelavega commented on #229
I just want to point out that consistency between existing API such as Get and Set and the new Listen API is important. Most apps using Listen will likely be using Get, Set, and other existing APIs.

[2019-03-26 19:16] wilhuff commented on #229
@jadekler Is the maintainer of the Firestore Go SDK and may have more context on the choice. As far as I can tell, this is a just a choice that's been made cloud-wide, and Firestore is merely being consistent with it:

https://cloud.google.com/spanner/docs/reference/libraries#client-libraries-usage-go

[2019-03-26 20:11] hiranya911 commented on #229
@johndelavega this API is not really going to work:

[code]

Note that unlike the existing `Get()` function (which is invoked by the developer), the callback function is invoked by the SDK. The developer will have to implement a bunch of conditionals with type assertions to properly handle different inputs:

[code]

This also doesn't expose the event type (child_added, child_removed, value_changed

[2019-03-26 20:12] hiranya911 commented on #229
@bklimt I think my previous comment also explains why a callback API is not adequate. At least not without a wrapper type as follows:

[code]

[2019-03-27 04:06] johndelavega commented on #229
@hiranya911 thanks for the clarifications. I'll work on it based on the Firestore listen API.

[2019-03-28 20:30] hiranya911 commented on #188
This has been released.

[2019-03-28 20:30] #188 closed

[2019-03-29 16:45] hiranya911 commented on #231
As you can see the problem originated in a different repo:

[code]

Most likely that repo was down or experiencing problems when you tried to install.  Nothing we can do about it in our codebase.

[2019-03-29 16:45] #231 closed

[2019-03-29 16:46] hiranya911 commented on #220
We launched session cookie management API using this mechanism. I'll work on getting other APIs migrated as well.

[2019-03-29 16:48] hiranya911 commented on #199
We can implement this on top of REST directly (see #220) if anybody wants to take a stab at it.

[2019-03-29 23:01] chong-shao commented on #99
Hi, we have plan to add this feature to the AdminSDK (along with a new HTTP API). But we don't have an estimated timeline now.

[2019-03-29 23:01] #99 closed

[2019-04-01 11:11] renhuozhu opened #237 ""go get firebase.google.com/go" error"
hi,

when i  install  firebase admin go sdk.
the error occurs:

`go get firebase.google.com/go`

`package firebase.google.com/go: unrecognized import path "firebase.google.com/go" (https fetch: Get https://firebase.google.com/go?go-get=1: dial tcp 216.58.200.238:443: i/o timeout)`

can you help me to resolve this issue?

thanks  a lot!

[2019-04-01 16:48] hiranya911 commented on #237
Can you access the URL directly? https://firebase.google.com/go

If the problem occurs consistently, your machine might be behind a proxy or a firewall that's preventing connections to the above server. If not it was most likely a temporary issue (either on your end or on the server-end), and you can simply try again.

[2019-04-02 06:48] renhuozhu commented on #237
it is the proxy problem.
i forget to set the proxy in the terminal .

thanks  for you help!

[2019-04-02 06:48] #237 closed

[2019-04-02 11:20] AndreiD commented on #231
I see "googlesource.com" what should I do ? email devsupport@googlesource.com ? You work at google, you have access to their email... This is what's called "do more than what's written in your job description". Is it so hard to notify your colleagues that on their part something is not working.

[2019-04-02 18:39] samtstern commented on #231
@AndreiD please try to be respectful on GitHub, we're all trying to do the right thing.  We've got a lot of SDKs and in order to maintain them we  have to draw a line between what we can actually fix, and what we can't.   We're certainly not saying that your problem is not real!  But the fix can't come from within this GitHub repo (or any that our team owns) so it's not productive to keep this iss

[2019-04-03 13:56] AndreiD commented on #231
this is not about me having my solution, it's about lots of other developer that have the same problem. You're not helping me to have "my solution". The problem is from YOUR ORGANIZATION, and all I'm asking is that you help your company provide better stuff. What you say is that you have too much to work and you don't care about 1 issue. So how many people must open the same issue for you to take

[2019-04-15 21:36] ConradIrwin opened #238 "Misleading error message on 403 for messaging.Client().Send"
### [READ] Step 1: Are you in the right place? yes

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS 10.14.3
  * Firebase SDK version: 3.7.0
  * Library version: 3.7.0
  * Firebase Product: messaging

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

* Make a request to send a notification that fails with a 403 error.
* The error message wi

[2019-04-15 22:16] hiranya911 commented on #238
This is the error sent by the server in this case:

[code]

We map `PERMISSION_DENIED` to the above error message, but also include the error detail sent by the server (`The caller does not have permission`).

@chong-shao should we use a different error message for `PERMISSION_DENIED`? Note that this mapping has been adopted from the Node.js SDK, where we have been mapping `PERMISSION_DENIED` to `

[2019-04-15 22:54] chong-shao commented on #238
Hi @hiranya911, for this case can we forward the error details from the server without adding extra error messages in AdminSDK?

[2019-04-15 23:05] hiranya911 commented on #238
We currently add an error message for all errors using some shared code.

https://github.com/firebase/firebase-admin-go/blob/c9b5e064033ed12864bf07d9bb34249087617130/messaging/messaging.go#L837-L847

Special casing an error code is going to require some work. This will get better/fixed once the new error handling proposal (go/firebase-error-handling) gets implemented. In the meantime, I think the

[2019-04-19 03:51] canhlinh commented on #220
@hiranya911 I've a question. Does firebase support GRPC for sending notifications ?

[2019-04-19 17:47] hiranya911 commented on #220
It probably does. @chong-shao should know more.

[2019-04-19 18:36] chong-shao commented on #220
For v1 send API, currently it does not support gRPC.

[2019-04-20 15:50] canhlinh commented on #220
@chong-shao Is there any API version are supporting gRPC ?

[2019-04-20 21:45] chong-shao commented on #220
Hi @canhlinh, as far as I know there is no version that supports gRPC for now.

[2019-04-21 15:09] canhlinh commented on #220
@chong-shao Thanks

[2019-04-28 05:19] chong-shao commented on #213
Hi @hiranya911, I think currently multicast is not supported by go SDK. Is there anything I can help?

[2019-04-30 21:12] hiranya911 commented on #213
I will eventually get to it. Developers are also invited to provide a pull request and help things move along.

[2019-05-03 17:17] #220 closed

[2019-05-08 09:26] jarod opened #244 "not function with option.WithHTTPClient"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: CentOS 7
  * Library version: 3.7.0
  * Firebase Product: messaging

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

run below code.
firebase.NewApp without clientOpt it work perfectly.
firebase.NewApp with clientOpt return error `invalid character '<' looking for beginning of value`
I add some l

[2019-05-08 17:32] hiranya911 commented on #244
This is working as intended.

If you're going to specify your own `HTTPClient` then you should also take care of request authorization. Otherwise all RPC calls will fail with an 401 (or perhaps 403) response. That's the html response you're getting.

The usual way to configure a proxy for Google/Firebase Go libraries is by setting the `HTTPS_PROXY` environment variable. See: https://medium.com/fau

[2019-05-08 17:32] #244 closed

[2019-05-11 13:15] ctrysbita commented on #229
@johndelavega Any news for real time database listeners?

[2019-05-24 18:20] hiranya911 commented on #229
I don't think anybody's working on this at the moment. But if somebody in the open source community wants to give it a try, they are welcome to. That's essentially how the Python Admin SDK got its listener API.

[2019-05-25 00:51] johndelavega commented on #229
@ctrysbita  I just did a pull request against the dev branch, you can check it out.

@hiranya911 Let me know if you're able to get it running.

[2019-05-29 20:55] derekperkins opened #248 "sender id does not match regisration token (not api or scope related)"
### [REQUIRED] Step 2: Describe your environment
  * Library version: 3.7.0
  * Firebase Product: messaging

Running on GKE

### [REQUIRED] Step 3: Describe the problem
Every call to send a message to cloud messaging returns this error:
`http error status 403; reason: sender id does not match regisration token; code: mismatched-credential; details: The caller does not have permission`

#### Relate

[2019-05-29 20:58] derekperkins commented on #248
cc @mordfustang21

[2019-05-29 22:12] hiranya911 commented on #248
How are you specifying the service account in the above code?

[2019-05-29 22:55] derekperkins commented on #248
Using default credentials set up in the environment, the way we do with https://github.com/googleapis/google-cloud-go. That library is picking up credentials correctly for logging, tracing, pubsub, etc., and as I mentioned, it appears that this library is finding it too, since the quota is showing the specified service account as making all the attempts to send these messages.
`$GOOGLE_APPLICATION

[2019-05-29 23:21] hiranya911 commented on #248
Can't really say anything specific based on the information provided here. I'd recommend you to file a support ticket, so we can take a look at your project specifically.

https://firebase.google.com/support

Once the issue has been submitted, you will be able to provide more project-specific details securely.

[2019-05-29 23:30] derekperkins commented on #248
Done: Issue #3-2031000026493
Thanks!

[2019-05-31 19:22] derekperkins commented on #248
So far Firebase support has been unhelpful.

There is no role called "Firebase Owner", and I don't want to grant this service account "Owner" credentials to the entire GCP project. Their response was to make it at least an "Editor". I don't understand why I would need to grant "Editor" access to my entire project to a service account in order to send a Firebase Cloud Message? That's an old outdate

[2019-05-31 20:39] hiranya911 commented on #248
@chong-shao what are the permissions required to send FCM messages?

[2019-05-31 20:40] hiranya911 commented on #199
This was implemented in #243 and #247

[2019-05-31 20:40] #199 closed

[2019-05-31 21:02] chong-shao commented on #248
"sender id does not match registration token" means the registration token in the request is not registered under the google cloud project. If "sender id" is not a familiar concept to developers we should consider changing it to "project id" or "google project id" in the error message. If you are using HTTP in sending the request, the sender id can appear in your request URL: https://fcm.googleapi

[2019-05-31 21:07] derekperkins commented on #248
Everything happening is in a single project. The service account is in the same GCP project as Firebase. Since the quota is showing usage on the service account, it seems to me that at least the GCP side is getting the right permissions. It's the Firebase configuration that I'm not familiar with.

[2019-05-31 21:08] hiranya911 commented on #248
@chong-shao the error message is probably incorrect in this instance (see #238). The client is receiving a 403 PERMISSION_DENIED for a request addressed to a topic. So no registration tokens are actually  involved (assuming the code sample given by the developer is indeed correct and up-to-date). That means it has to be a permissions issue, right? The service account is probably lacking some requi

[2019-05-31 21:10] hiranya911 commented on #248
@derekperkins Firebase projects are GCP projects. So that is not in issue here. But can you confirm that you're trying to send messages to a topic, and not a token?

[2019-05-31 21:12] chong-shao commented on #248
Hi @derekperkins Have you tried to grant the "Editor" role to the service account? If an service account with Editor role works then we can confirm that it's a problem on our backend that returns the misleading error message.

[2019-05-31 21:22] derekperkins commented on #248
Yes, I can confirm that I am sending to a topic. To clarify in case I am misunderstanding, the documentation says that the topic will be created on the fly, so I have not previous created this topic manually.

I created this service account via the GCP Console. I consider myself pretty familiar with IAM and we have specific role-scoped service accounts for all of our apps. This specific service ac

[2019-05-31 21:33] derekperkins commented on #248
I stand corrected, adding the "Editor" role allowed the message send to succeed, despite already having the following roles:

- Firebase Admin
- Firebase Service Management Service Agent
- Firebase Admin SDK Administrator Service Agent
- Service Account Token Creator
- a custom role with `firebaseanalytics.resources.googleAnalyticsReadAndAnalyze` `firebasenotifications.messages.create`

[2019-05-31 21:40] derekperkins commented on #248
I'd like to figure out what the minimum permissions that need to be granted for this. My expectation is that it should only require `firebasenotifications.messages.create`, since I don't want this service account to list, get, delete or update.

I know the docs also reference all of these permissions, which seems excessive for just sending a message. I'd prefer to not include them in my role, but

[2019-05-31 22:34] chong-shao commented on #248
Hi @derekperkins , I think making a custom role by copying from "Firebase Grow Admin" role, and add permission "firebasenotifications.messages.create" should be sufficient.

Please let me know if that works for you. We are working on adding "firebasenotifications.messages.create" into "Firebase Grow Admin" as one of the default permissions.

On the other hand, I think AdminSDK or the backend has s

[2019-06-01 03:52] derekperkins commented on #248
I tried that and was unsuccessful. Here are all the permissions in my custom role that still don't allow me to send a message.
[code]

[2019-06-01 04:08] derekperkins commented on #248
I have now added all these roles to the service account and it still fails until I add the `Editor` role back.

[code]

[2019-06-01 05:54] chong-shao commented on #248
@derekperkins sorry my mistake, could you repeat the steps described in my last comment, but add the permission "cloudmessaging.messages.create" instead of "firebasenotifications.messages.create" into your custom role?

[2019-06-01 22:19] derekperkins commented on #248
@chong-shao you nailed it, all I needed was `cloudmessaging.messages.create` and no other permissions. My role currently works and only has the single permission, without any of the "required" permissions. Thanks for helping me get this working.

[2019-06-01 22:19] #248 closed

[2019-06-19 19:44] kardianos opened #253 "repo: support go modules"
This repo tags versions correctly for Go modules v3.x.y. However, the import paths it uses are incompatible with Go modules that use these tags.

I suspect you will need a go.mod file in the repository root with a module name with a trailing `v3`. Then import paths need to be adjusted to include the v3 as part of the import path.

[2019-06-19 20:11] hiranya911 commented on #253
Go mod support doesn't require any changes in existing libraries. It has been designed that way to enable easy migration. I use this SDK with Go mods all the time. Here are some examples:

https://github.com/hiranya911/firecloud/tree/master/api-management/clients
https://github.com/hiranya911/firecloud/tree/master/firedb-cli
https://github.com/hiranya911/firecloud/tree/master/review-scorer/scorer

[2019-06-19 20:11] #253 closed

[2019-06-19 20:19] kardianos commented on #253
Okay, I support that's one response...

Thanks.

[2019-06-22 15:29] nvcnvn opened #254 "FR: export auth.tokenVerifier"
https://github.com/firebase/firebase-admin-go/blob/be821cdc340e4dcaf1abf04910f727c8b8bda086/auth/token_verifier.go#L51

Export the `tokenVerifier` would be helpful for the use case when we just want to verify the token.

Another use case is user can override the `idTokenCertURL` or `sessionCookieCertURL` for testing
https://github.com/firebase/firebase-admin-go/blob/be821cdc340e4dcaf1abf04910f727c

[2019-06-24 05:23] thatreguy commented on #229
Any updates on this ?

[2019-06-27 20:45] chemidy opened #255 "Analytics_label support in FCM Admin go"
Got the warning on FCM Reports Console saying we should add analytics_label to the messages but it seems it's only available in REST api. Is there a plan to add it in go sdk?

https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages?authuser=0#fcmoptions

[2019-06-28 20:31] hiranya911 commented on #254
We have no plans to add these types to the public API. In general we want to keep the internal implementation hidden, so we have control over it to make changes at will.

As for testing, you should define your own interfaces for these APIs so they can be mocked out easily:

[code]

The `auth.Client` implicitly implements the above interface. You can specify your own custom implementation for unit

[2019-06-28 20:31] #254 closed

[2019-07-10 06:38] johndelavega commented on #229
@thatreguy, thanks for the review.

The code is tested on Ubuntu cloud VM and it's been running continuously for over 2 weeks. A second test is running on Raspberry Pi Zero W (built as GOARCH=arm GOARM=5) and it's been running continuously for over a week.
The test is using a particular auth flow using type: "authorized_user" json refresh_token credential file,
like this: [refresh_token.json](http

[2019-07-19 22:40] chemidy opened #259 "FR: add image option in notification"
There are new options for image in notification : https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages?authuser=0#notification

[2019-07-19 22:41] hiranya911 opened #260 "Rename WebpushFcmOptions to WebpushFCMOptions"
We should do this rename in order to be consistent with Go conventions. This is unfortunately a breaking change, and therefore cannot be implemented until we plan a major release.

[2019-07-19 22:46] chemidy commented on #260
Yes this is a breaking change, But i think the option currently not working because the param name is  fcmOptions instead of fcm_options (this is fixed in #256  )

[2019-07-19 22:58] hiranya911 commented on #260
Backend API accepts both `fcmOptions` and `fcm_options`. This was confirmed with the FCM team a while ago.

[2019-08-02 21:08] #255 closed

[2019-08-14 06:50] samuelg123 opened #267 "FR: Need PhoneVerified field in UserRecord"
* Operating System version: Windows 10 Pro - 1803
 * Library version: 3.9.0
 * Firebase Product: Auth

Hi,
I'm new to firebase auth. Is there any function to verify phone from firebase-admin-go (to check if it already verified in the client or not)?

Thank you.

[2019-08-15 18:21] rushib1 commented on #229
will this feature ever be merged? I tried cloning the repo but getting use of internal package firebase.google.com/go/internal not allowed.

[2019-08-16 00:14] Xeoncross opened #268 "Why is the client context not used in verifyIDToken?"
For some reason the `ctx` that is passed in is not used, instead a new blank context is created for no purpose.

https://github.com/firebase/firebase-admin-go/blob/79d5dcdeff7f536eb11a549dd25579d88831d19e/snippets/auth.go#L80-L82

[2019-08-16 17:20] hiranya911 commented on #268
No particular reason. One could argue that since only the code between the `[START]` and `[END]` tags are actually rendered in the website, using `context.Background()` results in a less ambiguous example. But I see `ctx` variable being used almost everywhere in these snippets, so it's probably safer (and better) to do the same here.

[2019-08-16 18:00] Xeoncross commented on #268
Using the provided ctx would allow the requester to cancel if needed. `context.Background()` will never cancel and severs the link between the caller.

[2019-08-16 18:16] hiranya911 commented on #268
You're welcome to provide a PR to update the snippet. But I don't think it's too critical, since we don't render the `verifyToken()` signature in the HTML output: https://firebase.google.com/docs/auth/admin/verify-id-tokens#verify_id_tokens_using_the_firebase_admin_sdk

[2019-08-16 20:49] hiranya911 commented on #267
There's no such functionality built into Firebase Auth as far as I know.

[2019-08-17 00:44] bojeil-google commented on #267
I assume you mean you want to differentiate that a phone number set via admin sdk is verified by the user client side. We haven't received much requests for this but I see its usefulness. Feel free to file a [feature request](https://firebase.google.com/support/) for it.

[2019-08-19 12:44] samuelg123 commented on #267
Oh okay sir. I just realize that my problem is in the client (flutter). When I call phone verification (from client), it will only register the phone to firebase once the verification is completed. So I didn't need to check phone (whether is verified or not) in firebase-admin-go.
My problem solved. Thank you for the response 👍

[2019-08-19 17:37] johndelavega commented on #229
@rushib1, here's quick download then build, using `go.mod` (Linux or Windows):

[code]
A binary executable should be created
Edit cmd/listen2/main.go for firebase credentials and db name for your specific settings
Rebuild, and real-time event listener should be working at this point

Run app with any command-line argument to initialize the db test path which is `/user1/path1`
Run a listener by run

[2019-08-19 17:42] rushib1 commented on #229
thanks @johndelavega. I got it to work by replacing the code firebase-admin-go with your code and it works. I think this is a bad way to do it but was super easy to do.

[2019-09-02 13:13] timotew opened #270 "Thrift is unreachable"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a GitHub issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-09-03 17:09] hiranya911 commented on #270
I don't think this can be fixed in this repo. We don't have a direct dependency on OpenCensus or Thrift. But if you know of a fix, feel free to provide a PR.

[2019-09-03 19:16] timotew commented on #270
From the dependency map it appears, it's firestore that depends on this. I will reach out to them.
`
firebase.google.com/go ->
cloud.google.com/go/firestore->
cloud.google.com/go/firestore.test->
cloud.google.com/go/internal/testutil->
go.opencensus.io/trace->
go.opencensus.io/internal->
go.opencensus.io
`

[2019-09-03 19:16] #270 closed

[2019-09-04 17:55] eliezedeck commented on #229
@hiranya911 any chance we'll get this merged anytime soon?

[2019-09-05 00:04] hiranya911 commented on #229
I'm somewhat hesitant to add this feature to the SDK. Adding this to the Python SDK resulted in a lot of confusion and issues (mostly developers not fully understanding the limitations of receiving realtime updated over REST). Is there any possibility of maintaining this feature as a separate extension?

[2019-09-06 15:08] eliezedeck commented on #229
Wouldn't that be solved by explicit documentations? Javascript already has full RTDB integration, Go has lacked this feature for too long.

But concretely @hiranya911, what kind of confusion and issues? Any links?

[2019-09-06 17:11] hiranya911 commented on #229
The Admin Node.js SDK doesn't actually own the RTDB code. It is owned and developed as part of the [JS client SDK](https://github.com/firebase/firebase-js-sdk/tree/master/packages/database). It gets included in the Admin SDK as a dependency. Furthermore, JS support for RTDB uses WebSockets. That is actually a better and more scalable way to support realtime listeners.

When the RTDB API for Go was

[2019-09-06 18:11] hiranya911 commented on #268
@lahirumaramba this is a trivial change. Might be a good place for you to start.

[2019-09-07 18:06] eliezedeck commented on #229
Oh I see, I didn't know that. Is there a particular reason the Websocket implementation has not been ported to Golang then?

[2019-09-08 01:41] hiranya911 commented on #229
Websocket protocol for RTDB is somewhat complex to implement (and even more difficult to get right). For Node.js and Java we essentially "borrowed" the already existing implementations from our JS and Android SDKs, which were mature and battle-tested. For other languages, we will essentially have to write it from the scratch. But there's not nearly enough demand for this feature in Go to justify c

[2019-09-12 15:06] chemidy opened #273 "FR : add new options to AndroidNotification"
There are new options for AndroidNotification : https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages?authuser=0#androidnotification

  "sticky": boolean,
  "event_time": string,
  "local_only": boolean,
  "notification_priority": enum (NotificationPriority),
  "default_sound": boolean,
  "default_vibrate_timings": boolean,
  "default_light_settings": boolean,
  "vibrate_timings

[2019-09-13 21:49] #259 closed

[2019-09-13 21:49] #213 closed

[2019-09-20 20:16] #268 closed

[2019-10-06 18:55] smoya commented on #229
Any update on this?

[2019-10-08 17:50] mykter opened #279 "FR: Verify ID tokens without requiring credentials"
* Firebase SDK version: 3.9.0
  * Firebase Product: auth

### Describe the problem
The firebase admin SDK is the most trustworthy way to verify ID tokens, but it isn't the easiest, because per the docs:

Technically, there's no need for this - to verify a token you just need to get certificates from a public endpoint.

It would be really helpful if `client.VerifyIDToken` function was also exposed

[2019-10-08 18:36] hiranya911 commented on #279
You just need a project ID to verify ID tokens. You don't need a service account -- that part of the docs is incorrect. That means on environments that support ADC you can just do this:

[code]

For environments without ADC, you can use the following trick:

[code]

[2019-10-08 18:36] #279 closed

[2019-10-09 09:36] mykter commented on #279
Thanks! Might be worth capturing that in the docs?

[2019-10-09 18:05] hiranya911 commented on #279
@mykter I've filed an internal doc update request. Hopefully that page will get updated with more information.

[2019-11-05 06:01] shogo82148 opened #295 "FR: add IsInvalidEmail or publicize internal.FirebaseError"
### My environment

  * Operating System version: macOS Catalina 10.15.1
  * Firebase SDK version: v3.9.0
  * Library version: v3.9.0
  * Firebase Product: auth

### The problem

If I add a new user with malformed email address (e.g. `foo..bar@example.com`, `..` is not allowed by RFC) to Firebase Authentication, I get `INVALID_EMAIL` error.
I want to handle this error, but `IsInvalidEmail` is not

[2019-11-05 18:54] hiranya911 commented on #295
I wonder if we should do a stronger validation in the SDK, and avoid making an RPC altogether if the email is invalid. This is what we do right now:

https://github.com/firebase/firebase-admin-go/blob/25e7c8260393cb8530bf311d2164f9a4875d2bc5/auth/user_mgt.go#L436-L444

If it is too complicated to check for this, adding an `IsInvalidEmail()` function sounds good to me.

[2019-11-07 01:03] redaphid opened #298 "FR(rtdb): Support for the emulator on http/localhost"
#### Step 3
I'd like to do some integration testing on my local machine for the Realtime Database that's as close to the real thing as possible. I'm trying to use the emulator for this purpose.

Which would probably work, except that NewClient() in db.go enforces https and the url suffix ".firebaseio.com".

#### Steps to reproduce:

calling DatabaseWithURL() with http://localhost:9000 produces an

[2019-11-07 01:07] redaphid commented on #298
...and also here:
[code]

[2019-11-07 18:29] hiranya911 commented on #298
The Go SDK doesn't support the emulator at the moment. That needs more work (just fixing URL validation is not enough). We already did this in Python: https://github.com/firebase/firebase-admin-python/pull/313. Similar changes are required here.

[2019-11-08 22:33] #295 closed

[2019-11-12 00:28] Emixam23 opened #301 "Messaging issue (auth part)"
* Operating System version: Mac OS X
  * Firebase SDK version: Latest (Go module)
  * Firebase Product: Messaging

#### Steps to reproduce:

I have an issue I cannot import one package (internal one)

#### Relevant Code:

[code]

[2019-11-12 00:40] hiranya911 commented on #301
`internal` packages are only used for SDK's internal interactions. Users should not use it. Furthermore, the Go compiler will not allow external code to import any `internal` package: https://golang.org/s/go14internal

Users should access `messaging.Client` via `firebase.App`. Please see the documentation: https://firebase.google.com/docs/cloud-messaging/send-message

[2019-11-12 00:40] #301 closed

[2019-11-12 14:57] Emixam23 commented on #301
Alright thanks for your answer, I will dig into the link you gave me :)

[2019-11-12 18:21] Emixam23 commented on #301
From your link, I am keeping trying to use the SDK but I still have auth issue. I am unable to create my app:

```app, err := firebase.NewApp(context.Background(), nil)```

I looked a lot over the internet, I tried gcloud auth, the json file as exported env var, nothing work, I am still stuck

[2019-11-12 19:18] hiranya911 commented on #301
Try carefully going through the steps in https://firebase.google.com/docs/admin/setup. If you continue to see the above error, it's an indication that either the variable is not set, or it points to the wrong thing.

[2019-11-12 23:12] Emixam23 commented on #301
But I did try many approach and even now, I think I have the right one but I still have auth issue..

[code]

From this I get

[code]

[2019-11-12 23:44] hiranya911 commented on #301
There are multiple places where you could have made an error:

1. Is the creds.json file a valid service account downloaded from the Firebase console?
2. You're explicitly specifying a scope in the `JWTConfigFromJSON`. I don't think specifying the Firebase scope is enough. You probably need the cloud-platform scope.
3. Does your project ID match the service account config?

I'm not sure why you're

[2019-11-13 16:46] abdulrehmank opened #302 "Bug : unknown field 'UniformBucketLevelAccess' in struct literal of type storage.BucketIamConfiguration"
* Operating System version: Ubuntu/MacOS
  * Firebase SDK version: v.3.10.0
  * Firebase Product: auth

#### Steps to reproduce:
Get the latest update and you will find that cloud.google.com/go have been updated.

Error:
#### root/vendor/cloud.google.com/go/storage
vendor/cloud.google.com/go/storage/bucket.go:558:4: unknown field 'UniformBucketLevelAccess' in struct literal of type storage.BucketI

[2019-11-13 19:15] hiranya911 commented on #302
cloud.google.com/go packages are developed at https://github.com/googleapis/google-cloud-go. Please report there.

[2019-11-13 19:15] #302 closed

[2019-11-14 09:02] jamosaur commented on #201
@chemidy any update on this? Would love to move away from nodejs with my cli app!

[2019-11-14 09:33] chemidy commented on #201
No for now i was using nodejs for this part, but i can work on it next month.

[2019-11-20 21:00] ebati opened #307 "go.mod in dev branch not following Semantic Import Versioning"
The current form of go.mod file in dev branch does not follow the rules suggested in [documentation](https://github.com/golang/go/wiki/Modules#semantic-import-versioning). Related part is as follows:

The module path should be changed to `firebase.google.com/go/v4` and released as a new major version. For alternatives and details you can check [here](https://github.com/golang/go/wiki/Modules#relea

[2019-11-21 00:16] hiranya911 commented on #307
@lahirumaramba something to watch out for when doing the next release.

[2019-11-26 03:03] max202021 opened #308 "Missing notification_priority in Go SDK"
**Environment Details**
  * Operating System version: WIndows 10
  * Firebase SDK version: 3.10.0
  * Firebase Product: Firebase Cloud Messaging

As Per firebase document, we can set the parameter **notification_priority** to determine message priority.

https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification

[code]
I am trying to use firebase admin go client

[2019-11-26 03:04] max202021 commented on #308
Please let me now in case extra information is needed

[2019-11-30 18:57] darioielardi opened #309 "FR: Multi tenancy support"
Is there any work in progress or ETA for multi tenancy support like the Node.js SDK?
We really need this to take advantage of Cloud Identity Platform.

Thanks for your time.

[2019-12-01 21:40] chemidy commented on #308
Hi, for now it's not supported by go SDK, there is an open Feature request #273

[2019-12-02 03:17] max202021 commented on #308
Thanks @chemidy , is there any timeline by when this feature will be available?

[2019-12-02 22:45] chemidy commented on #308
I started working on it :)   hope to have some time this weekend to finish

[2019-12-05 12:26] bsr203 opened #310 "Quation: EmailSignInLink API and generic dynamic link usage"
This is a question about the API. Though I asked at SO, this is very specific to an API. Sorry for posting this as an issue, but should be a short response and I can proceed using this lib.

Please see the question at [SO](https://stackoverflow.com/q/59194241/303477)

Thank you

---

I am trying to use dynamic link feature (user to user share) as [here](https://firebase.google.com/docs/dynamic-lin

[2019-12-05 18:53] bojeil-google commented on #310
`EmailSignInLink` API in Admin SDK is used for generating links for signing in users with Firebase Auth. The link should be embedded in an email sent to the user's underlying email.

This is not the same as the dynamic link feature (user to user share) you refer to.

Granted that the Firebase Auth feature can be used as a form of "invite" where one user invites another user to sign in to an app. H

[2019-12-05 21:30] bsr203 commented on #310
Thank you so much for the explanation. It cleared up most of my doubts. Meanwhile I saw the generated client library for dynamic links with go. https://godoc.org/google.golang.org/api/firebasedynamiclinks/v1 I will explore further. thanks again

[2019-12-05 21:30] #310 closed

[2019-12-06 00:09] hiranya911 commented on #307
Here's what I would propose:

1. Revert #293 which will remove the mod files.
2. Continue to release the Go SDK without explicit module support for a bit longer.
3. Release v4 of the SDK with module support (follow the guidelines at https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher)

[2019-12-06 00:10] hiranya911 commented on #309
This is close to a release. See the tenant-mgt branch.

[2019-12-23 22:00] #309 closed

[2020-01-03 23:51] #308 closed

[2020-01-03 23:51] #273 closed

[2020-01-03 23:52] #267 closed

[2020-01-12 21:47] beraybentesen opened #322 "Example for global definition"
Example for creating instance inside init method and accessing is required to prevent re-creating inside each package.

[2020-01-13 19:43] hiranya911 commented on #322
Each application has its own way of maintaining global state. That's more of a general Go programming question, and developers have their own preferences when it comes to matters like this. Personally, I like to define a type that encapsulates all the Firebase initialization and interaction logic, and then use an instance of that type in the rest of my app. For example:

Custom type with Firebase

[2020-01-13 19:43] #322 closed

[2020-01-19 18:34] jay-khatri opened #327 "Is the godoc down right now?"
I'm not able to visit any of the subdirectories in the documentation: https://godoc.org/firebase.google.com/go#pkg-subdirectories

For example:
https://godoc.org/firebase.google.com/go/auth

[2020-01-20 01:26] hiranya911 commented on #327
Yes, seems to be down.

https://github.com/golang/go/issues/36642

[2020-01-20 01:26] #327 closed

[2020-02-10 21:33] berk-can opened #330 "Cannot send message"
`
	opt := option.WithCredentialsFile("firebaseadmin.json")
	ctx := context.Background()
	app, err := firebase.NewApp(ctx, nil, opt)
	if err != nil {
		panic(fmt.Errorf("error initializing app: %v", err))
	}

	fcm,err:=app.Messaging(ctx)
	if err != nil {
		panic(err)
	}
	message := &messaging.Message{
		Data:  map[string]string{"test": "text"},
		Token: "I entered my Android device token here",
	}

[2020-02-10 22:26] hiranya911 commented on #330
If you're seeing the above response then the message was successfully handed off to FCM for delivery. Any problem is in the receiving end.

[2020-02-10 22:26] #330 closed

[2020-02-11 06:13] berk-can commented on #330
@hiranya911 I am sorry for not providing all information, why do you think that problem is in receiving side, because I could successfully send test message via web console to same receiving device

[2020-02-11 16:54] hiranya911 commented on #330
Like I said, if you're seeing the above response (message ID string), then the message has been successfully handed off to FCM for delivery. The Admin SDK's role in sending FCM notifications ends there. Any issues with actual message delivery should be debugged from the FCM backend or client recipient end.

If you think the client app is implemented correctly, I'd recommend reaching out to Firebas

[2020-02-12 12:11] p1ass opened #332 "FR Add error code in messaging.ErrorInfo"
### Describe your environment
  * Library version: v3.12.0
  * Firebase Product: Messaging

### Describe the problem

I would like to switch errors handling according to the response of `SubscribeToTopic()`.
However, `messaging.ErrorInfo` which is part of the response has only string reason, but not error code. So it is difficult to handle errors.
I think `messaging.ErrorInfo` should have an error

[2020-02-14 21:38] hiranya911 commented on #332
Sounds like a reasonable addition to me.

[2020-02-15 15:56] p1ass commented on #332
@hiranya911 Can I send a pull request about this issue?

[2020-02-16 04:52] hiranya911 commented on #332
@p1ass yes, that would be great!

[2020-02-21 14:48] darioielardi opened #337 "TenantClient lacks custom tokens minting capabilities"
### Describe your environment

  * Operating System version:  macOS 10.15.3
  * Firebase SDK version: v3.12.0
  * Library version: ?
  * Firebase Product: auth

### Describe the problem

At the moment is not possible to mint tenant-aware custom tokens. The base auth client has a  CustomToken method, but there's no such function on the TenantClient.

Is this a work in progress or there's something

[2020-02-21 18:15] hiranya911 commented on #337
Yeah, it's not supported at the moment. Last I checked Auth team had a plan to support it. But we don't have a timeline to share just yet.

[2020-02-28 21:33] hiranya911 commented on #337
Turns out this can be supported now. See https://github.com/firebase/firebase-admin-node/pull/708

[2020-03-02 12:13] xyzdevops commented on #337
I need this imminently and am happy to code the method into the go libraries. I will have a crack at it now.

[2020-03-02 13:43] xyzdevops commented on #337
### API Changes

* At this time we cannot accept changes that affect the public API.  If you'd like to help
    us make Firebase APIs better, please propose your change in an issue so that we
    can discuss it together.

I fixed it but I guess I will have to wait for someone else to do so

[2020-03-02 13:52] xyzdevops opened #341 "client.TenantManager.CreateTenant(...) fails with INVALID_PROJECT_ID"
{
"error": {
"code": 400,
"message": "INVALID_PROJECT_ID",
"status": "INVALID_ARGUMENT"
}
}

The ID is inherited from the initial setup of the Firebase Client object, so it is uniform across all services. Therefore the error above cannot be correct as other services work fine in emulator and in production.

[2020-03-02 18:33] hiranya911 commented on #341
Have you enabled GCIP multi-tenancy for your project? We do have integration tests for this API, which are working fine at the moment:

https://github.com/firebase/firebase-admin-go/blob/e088f55036154f0cccf661992f854abd8fb1333f/integration/auth/tenant_mgt_test.go#L36-L43

Results from the [last run](https://github.com/firebase/firebase-admin-go/runs/447032769):

[code]

[2020-03-03 22:57] aren55555 commented on #337
It looks the missing functions would approximately be:

[code]

These would closely match the receiver functions already defined on `*Client`

[2020-03-07 00:32] hiranya911 commented on #337
Just need to move the existing functions from `Client` to `baseClient` type so they become exposed on `TenantClient` as well.

[2020-03-09 17:18] 178inaba opened #346 "Documentation for FCM batch request limit is incorrect"
The FCM batch request limit has been changed from 100 to 500 with the following pull request.
https://github.com/firebase/firebase-admin-go/pull/297

But the documentation doesn't seem to be fixed.
https://github.com/firebase/firebase-admin-go/blob/e088f55036154f0cccf661992f854abd8fb1333f/messaging/messaging_batch.go#L92

[2020-03-09 17:31] 178inaba commented on #346
Since this issue is a document, I didn't write it because I didn't think it needed environment or reproduce.

[2020-03-09 20:17] #346 closed

[2020-03-18 16:56] Mohammed90 opened #351 "Email Validation func is Improper"
The email validation func checks if the split over `@` results in 2 parts:

https://github.com/firebase/firebase-admin-go/blob/32728b0fc9f9486276937d8f50cdf75485c1293c/auth/user_mgt.go#L461-L463

But this risks rejecting valid email address. These are all valid email addresses:

- Abc\@def@example.com
- "Abc@def"@example.com
- "<\"@\\".!.#%$@example.com

which the library will reject. The recommen

[2020-03-18 18:24] hiranya911 commented on #351
This is based off the same validation logic we use in our Node SDK.

[code]

Yes, it is certainly not RFC compliant. But the kind of edge cases you've listed are also very rare in practice. Many of the widely used email providers simply won't allow such addresses. That's probably why these implementations have been able to get by for years without anybody pointing it out :)

Having said that, if t

[2020-03-19 13:16] DanielBiber opened #354 "migrate fcm http v1。return 403，Firebase Cloud Messaging API has not been used in XXX"
when i migrate legacy http api to http v1。 return code:403，messge:Firebase Cloud Messaging API has not been used in project.
so i have two question:
1: why FCM api is not open? we used legacy http api，this interface  can be work even FCM api not open?
2: if i open FCM api, the legacy http api can also be work?
[code]

[2020-03-19 15:01] #354 closed

[2020-04-01 21:28] mitar opened #357 "WithoutAuthentication client option seems to be ignored"
* Operating System version: Ubuntu 18.04.4
  * Firebase SDK version: (not sure what this is)
  * Library version: v3.12.0
  * Firebase Product: auth

#### Steps to reproduce:

I am trying to verify ID tokens. From me looking at the code it looks like that that does not need any API access (I am not checking for revocations), but I cannot really initialize the app like that.

#### Relevant Code:

[

[2020-04-01 21:56] mitar commented on #357
My current workaround:

[code]
[code]

[2020-04-01 21:58] hiranya911 commented on #357
Shouldn't happen unless you're using an old version of the SDK. Just tried the following which worked fine:

[code]

[2020-04-01 21:59] hiranya911 commented on #357
New versions of the SDK defaults to `WithoutAuthentication` for public key fetch:

https://github.com/firebase/firebase-admin-go/blob/e088f55036154f0cccf661992f854abd8fb1333f/auth/token_verifier.go#L61-L75

[2020-04-01 22:03] hiranya911 commented on #357
Can you confirm whether the error is coming from `VerifyIDToken()` or some other initialization function? Perhaps `NewApp()`. That would make more sense.

[2020-04-02 04:28] fizzse opened #358 "FR：When does the sdk support http proxy"
When does the sdk support http proxy

[2020-04-02 17:54] hiranya911 commented on #358
It already does.

https://medium.com/faun/firebase-accessing-firestore-and-firebase-through-a-proxy-server-c6c6029cddb1

[2020-04-02 17:54] #358 closed

[2020-04-03 08:18] mitar commented on #357
Yes, it comes from `NewApp` already. I do not get to `VerifyIDToken`.

[2020-04-03 10:03] bolds07 opened #359 "{"code":"messaging/mismatched-credential","message":"The caller does not have permission"}"
### [READ] Step 1: Are you in the right place?

yes

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: google cloud
  * Firebase SDK version: latest
  * Library version: 8.10.0
  * Firebase Product: cloud messaging (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem

i'm trying to send a very simple message to a topic with FCM

[code]
the topic

[2020-04-03 10:05] #359 closed

[2020-04-03 22:03] hiranya911 commented on #357
Ok, that's understandable. We have the following line of code:

https://github.com/firebase/firebase-admin-go/blob/e088f55036154f0cccf661992f854abd8fb1333f/firebase.go#L142-L148

Given we don't always need `creds` we can change the above to not fail. I'll try to work that into a future release.

[2020-04-03 22:03] hiranya911 commented on #341
Closing due to lack of activity.

[2020-04-03 22:03] #341 closed

[2020-04-03 22:04] hiranya911 commented on #307
I will close this now. We have proper module support implemented in the `v4` branch. Will be released with the next major release.

[2020-04-03 22:04] #307 closed

[2020-04-03 22:05] hiranya911 commented on #260
Fixed in the v4 branch

[2020-04-03 22:05] #260 closed

[2020-04-03 22:05] hiranya911 commented on #238
Fixed in the v4 branch along with the error handling major refactor.

[2020-04-03 22:05] #238 closed

[2020-04-04 19:25] vedantroy opened #360 "go get firebase.google.com/go hangs"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Arch Linux

### [REQUIRED] Step 3: Describe the problem
Run `go get firebase.google.com/go`

I also tried doing `git clone --verbose go firebase.google.com/go`, and that failed to with "fatal: repository 'firebase.google.com/go' does not exist"

[2020-04-05 02:54] mitar commented on #357
Awesome!

[2020-04-06 18:52] hiranya911 commented on #360
Did you wait long enough? It can take 1-2 minutes depending on your network and CPU resources, I just tried it, and worked fine for me:

[code]

[2020-04-06 18:52] #360 closed

[2020-04-06 21:57] vedantroy commented on #360
Doing `go get -d firebase.google.com/go` worked for me.

[2020-04-17 20:31] #357 closed

[2020-04-17 20:47] mitar commented on #357
Awesome, thanks!

[2020-04-23 06:36] mitar commented on #357
When will this be part of a release?

[2020-04-27 10:25] mayah opened #367 "FR: Support Tenant.disableAuth"
### Step 2: Describe your environment

  * Operating System version: all
  * Firebase SDK version: v3.12.1
  * Library version: ? (which libarry)?
  * Firebase Product: auth

### Step 3: Describe the problem

https://cloud.google.com/identity-platform/docs/reference/rest/v2/projects.tenants#Tenant
says Tenant has `disableAuth`, however, Tenant in the current master does not have `disableAuth`.
 ht

[2020-04-27 18:24] bojeil-google commented on #367
This is the first time I see this field actually.

[2020-05-08 20:41] #337 closed

[2020-05-13 01:32] sonatard opened #372 "FR: Fix endpoint from v2beta1 to v2"
* Firebase SDK version: master and v4 branch
  * Firebase Product: auth

https://github.com/firebase/firebase-admin-go/blob/4343fa831fed5b1bfeaa0d9824db99c78a5e261d/auth/tenant_mgt.go#L30

https://github.com/firebase/firebase-admin-go/blob/4343fa831fed5b1bfeaa0d9824db99c78a5e261d/auth/provider_config.go#L31

https://cloud.google.com/identity-platform/docs/reference/rest/v2/projects.tenants/create

[2020-05-15 10:52] slirx commented on #189
how can I do that with `option.WithHTTPClient()`? are there any examples?

[2020-05-15 20:53] hiranya911 commented on #372
I believe at the time v2 did not exist.

[2020-05-16 16:21] architkithania commented on #229
Would love to get an update on this. If it is not merged, could someone please provide me with steps on how I can actually make use of this feature if it is not in the main branch? Thank you very much

[2020-05-16 16:44] eliezedeck commented on #229
By the looks of things, I don't think the team will implement this.

What I did, and might be useful to your @architkithania: I used the NodeJS admin sdk and couple it with go thru gRPC. Both Javascript and Go have excellent gRPC support. It works flawlessly so far.

[2020-05-16 18:22] architkithania commented on #229
@eliezedeck Thank you so much for your response. I am quite new in cloud technologies and hadn't even heard of RPC. gRPC seems to be quite promising and may be just the thing I am looking for. thanks for the reference :D

[2020-05-19 10:26] kiithwarrior commented on #248
This solved my issue as well, thanks for posting.

[2020-05-21 18:49] #138 closed

[2020-05-25 08:33] mastef opened #376 "FR: ServerTimestamp constant for firebase.database"
### Describe your environment

  * Operating System version: all
  * Firebase SDK version: v3.13.0
  * Firebase Product: database

### Describe the problem

The serverside timestamp value is a unique field in Firebase databases, as it's uploaded with the json `{ ".sv" : "timestamp" }` and then converted to a timestamp on the serverside.

The javascript realtime database sdk has a constant called [

[2020-06-08 11:18] hume12 opened #377 "Link is not working in desktop"
### [REQUIRED] Step 2: Describe your environment

Operating System version: Ubuntu 18.04
Firebase SDK version: 3.12.0
Library version: ?
Firebase Product: messaging

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Clicking in received notfication (which does not open the target link).

#### Relevant Code:
[code]
[code]

[2020-06-09 01:55] sahejsingh opened #379 "FR: Support for overriding Firebase Cloud Messaging Endpoint"
###  Describe your environment
  * Firebase Product: firebase cloud messaging (fcm) service

GO Service trying to send message to FCM.

### Step 3: Describe the problem

Unable to do local integration testing with FCM.

#### Steps to reproduce:

- Integrate with FCM Go Library
- use messaging.Send() to send the message

At this point I would like to verify if the message has been received properly

[2020-06-09 01:55] sahejsingh commented on #379
similar to #298

[2020-06-09 15:49] farah commented on #367
Hi @bojeil-google @wuyanna
Can I take a crack at this? :)

[2020-06-09 17:36] chong-shao commented on #377
Hi @hume12 , I cannot identify a problem by looking at the code. Could you file a support ticket https://firebase.google.com/support/troubleshooter/contact to provide more information to the Firebase support team? Thanks!

[2020-06-09 18:55] hiranya911 commented on #379
Already implemented in #373

Although I'd generally recommend a more blackbox testing approach for SDK users, leveraging Go interfaces to swap out the SDK when needed.

[code]

[2020-06-09 18:55] #379 closed

[2020-06-09 18:55] #189 closed

[2020-06-14 23:41] hashweather opened #382 "Phone Number Verification on the Admin Side"
I have a simple use case,

I want to provide an `endpoint `to my clients `/users/register` where they capture the **phone number** and send it to the `endpoint`.

I then initiate a` Phone Number Validation Process` on the `Admin End` and send back a response to the client to enter the `verification code`  sent to them via  `/users/validate`. When they've received the verification code, they will n

[2020-06-15 19:11] hiranya911 commented on #382
Duplicate of https://stackoverflow.com/questions/62380896/firebase-phone-number-verification-on-golang-admin-sdk

[2020-06-15 19:11] #382 closed

[2020-06-15 20:56] #377 closed

[2020-06-17 07:00] sahejsingh opened #385 "Override endpoint does not work for Batch requests"
### Describe your environment

- Firebase Admin Go SDK v4.0.0

### Step 3: Describe the problem

Same setup as #379 and #189, But this time try to send messages using batch api as mentioned here: https://firebase.google.com/docs/cloud-messaging/send-message?authuser=0#send-messages-to-multiple-devices

[code]

Still get the error:
[code]

Verified that the request is hitting `https://fcm.googleapi

[2020-06-19 17:20] hiranya911 commented on #385
We can look into fixing it in a future release. But as usual I'd highly recommend against testing your code this way (see #219, #379). You should use blackbox testing with custom interfaces for all local testing. The RPC calls made by the SDK is an internal implementation detail, and might change in the future.

[2020-06-19 23:04] bulletblp4 opened #386 "FR : exposing Retry-After header"
As per the [documentation](https://firebase.google.com/docs/reference/fcm/rest/v1/ErrorCode), seems like we have to honor the retry after header. But the golang sdk doesn't seem to be exposing it.

  * Firebase SDK version: v3.13.0

[2020-06-20 04:36] hiranya911 commented on #386
SDK automatically does that so no additional handling is necessary. But if you really wish to access the headers, the v4 SDK provides the necessary APIs:

https://pkg.go.dev/firebase.google.com/go/v4/errorutils?tab=doc#HTTPResponse
https://firebase.google.com/docs/reference/admin/error-handling#accessing-the-http-response

[2020-06-20 04:36] #386 closed

[2020-07-08 20:44] bulletblp4 commented on #386
Thanks!
I havent explored the code base, but as per the docmentations

How long is long here. I am asking cause a while ago we encountered a case where gcm/fcm was down for an hour or more. And our queues were stacked up with thousands of messages. Will SDK handle that case aswell ?

[2020-07-08 21:30] hiranya911 commented on #386
SDK retires are intended to help recover from transient network and backend errors that are short-lived (in the order of seconds). Therefore the SDK does not retry if the backend server sends an error with `Retry-After` set to a duration longer than 2 minutes.

https://github.com/firebase/firebase-admin-go/blob/cef91acd46f2fc5d0b3408d8154a0005db5bdb0b/internal/http_client.go#L69-L89

[2020-07-09 02:37] jessejacksonanz commented on #385
@hiranya911 to follow up this issue, blackbox testing shouldn't require you to modify the internals of an application to mock out external dependencies just for the purpose of testing, as this would be peering into the black box and writing code just to satisfy your tests (and running the service in a mode that does not match how it actually functions in a production environment).

You can indeed

[2020-07-09 16:47] hiranya911 commented on #385
Certainly not. Developers should only ever rely on our public API. So they can define interfaces like the following:

[code]

Now the `messaging.Client` provided in the SDK automatically becomes an implementation of the above interface, and you can easily create a fakeBatchSender for unit testing. If you need even more decoupling (which is another reason why people use interfaces with dependencies

[2020-07-14 13:20] adrianduke commented on #298
Any update on this feature? We're unable to create offline development environments without this or integration tests.

[2020-07-14 18:03] yuchenshi commented on #298
This is now internally tracked as b/136271028 and we'll see if we can get it prioritized. In the meantime, we welcome any Pull Requests on this.

[2020-07-21 20:58] radvansky-tomas opened #387 "RAW protobufs responses in SDK"
Is there any way to access protobufs message from firestore. So I can get same structure as from Firestore triggers ?

Ie. If you receive firestore trigger (onCreate for example) structure is dependent on firestore protobufs message:
https://cloud.google.com/firestore/docs/reference/rest/v1/Value

However if you access same document from firestore admin / client SDKs you will get documentSnapshot

[2020-07-21 21:46] hiranya911 commented on #387
Protos are not exposed in the public APIs: https://github.com/googleapis/google-cloud-go/blob/c8877ca3a97d95882aaef2fbffd949b484f0a8c2/firestore/document.go#L51

You can try filing a feature request at https://github.com/googleapis/google-cloud-go

[2020-07-21 21:46] #387 closed

[2020-07-21 21:48] radvansky-tomas commented on #387
Yeah, was just reading same file 👍 , however is seems bit wrong to have different structure to came from same source Firestore Document...when in trigger it contains all those "StringValue etc..." while in DocumentSnapshot is "cleared"

[2020-07-21 22:20] radvansky-tomas commented on #387
Its been already discussed here https://github.com/googleapis/google-cloud-go/issues/1438

[2020-07-24 21:08] 178inaba opened #388 "Providing a maximum number of tokens for messaging"
There is a limit (500) to the number of messages that can be sent at one time in SendAll of messaging.
I would like to check the upper limit in advance, but since there is no constant, I have to define "500" myself.
This is the upper limit of messaging, and it may change with an update, so please provide a constant.

[2020-07-30 15:31] tedgonzalez opened #391 "FR: Remote config support"
### [REQUIRED] Step 2: Describe your environment
  * Firebase Product: Remote config

### [REQUIRED] Step 3: Describe the problem

Hi do you have plans to support firebase remote config?

[2020-07-31 22:33] lahirumaramba commented on #391
Hi Theodore! Thank you for the feature request!
We have recently added Remote Config support in the Admin Node.js SDK. We plan to add the Remote Config API support across the other Admin SDK platforms, including Go. Though I cannot promise you a timeline, this issue will track our progress as we start implementation.

We also greatly appreciate contributions to our codebase, if you would like to c

[2020-08-07 21:19] #385 closed

[2020-08-07 22:15] speedwheel opened #394 "FR: Add support for Device Groups messaging"
### [REQUIRED] Step 3: Describe the problem
At the moment if I want to group all my the registered devices per user, I can either use topics (which are insecure) or implement my own grouping system in the database. Both of these options are not the best, but actually there is a third option called `Device Groups` which is secure doesn't require managing all your tokens inside your database.

Unfor

[2020-08-07 23:40] allentv commented on #391
I am thinking of proposing Remote Config for a project and would like to have a working version soon. So started working on it. Here is a skeleton based off the work done in the Node.js version : https://github.com/firebase/firebase-admin-go/compare/dev...allentv:allen/add-remote-config?expand=1

[2020-08-09 23:43] lahirumaramba commented on #391
Hi @allentv,
That is great to hear! Thank you for your contribution and we really appreciate it!
Let's start reviewing your PR #396 and we can go from there.

[2020-08-10 16:41] hiranya911 commented on #394
Device groups is a feature of the legacy FCM API, and we have no plans to support it in the new SDK implementations. The FCM team has plans for some enhancements in topics that will likely address this use case in the future. I'll assign to @chong-shao who can confirm and close this issue.

[2020-08-10 16:45] chong-shao commented on #394
what @hiranya911 said was correct.

[2020-08-10 16:45] #394 closed

[2020-08-11 21:55] allentv commented on #391
The current implementation of #396 is a 1:1 mapping of the [REST API docs](https://firebase.google.com/docs/reference/remote-config/rest#service-endpoint) as shown below:

[code]

Since fetching the remote config would yield the complete list of parameter values, I propose to add the following methods:
[code]

The above category of methods would fetch the config and convert it into the specific ty

[2020-08-14 20:41] hiranya911 commented on #391
I think the API surface should be somewhat similar to what the Node.js Admin SDK offers. To that end:

[code]

[2020-08-15 16:32] allentv commented on #391
The [type definitions](https://github.com/firebase/firebase-admin-go/pull/396/files#diff-40d923a9e9ad9d7ea1e246b45f182aea) in the PR are similar to what is in the Node.js SDK. Do I have to implement all the functions in the SDK too?

[2020-08-19 18:13] bulletblp4 opened #397 "Passing an Header to FCM proxy"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: _____
 Firebase SDK version: v3.13.0

### [REQUIRED] Step 3: Describe the problem

  I need to access the FCM endpoint via a proxy, which also need an header to be passed.
My app currently makes 2 calls via different proxy, hence when I add the env var as `HTTPS_PROXY` in my go app it slows down the other request.

I n

[2020-08-19 18:59] hiranya911 commented on #397
Start by taking a look at the `ProxyConnectHeader` field in [`http.Transport`](https://pkg.go.dev/net/http?tab=doc#Transport). You can set custom headers on proxy CONNECT requests by configuring this property.

If that's not what you want, you should be able to customize the `RoundTripper` or the `Proxy` to do what you want. Here's an example:

[code]

The SDK doesn't provide any APIs for customiz

[2020-08-19 21:10] bulletblp4 commented on #397
So the client when calling the method `client.Send` doesn't seem to be picking up the proxy.

I get an error ```"unknown error while making an http call: Post https://fcm.googleapis.com/v1/projects/api-XXX/messages:send: Bad Request"```

where as it should be picking up the proxy-url (`http://fcm-proxy:8080/v1/projects/api-XXX/messages:send`) I believe. I am doing a similar thing for my apns libs

[2020-08-19 22:19] hiranya911 commented on #397
The proxy URL is not visible to the SDK, so it will never get logged in an error message raised by our APIs. Your issue is probably due to bad authentication.

[code]

FCM v1 API do not support API key authentication. You must provide valid OAuth2 credentials.

[2020-08-20 00:47] hiranya911 commented on #397
Spent a bit more time on this, and it actually looks like an issue with the proxy code. I'm experimenting with the following example:

[code]

This works as long as the request URL scheme is `http`. As soon as I switch to `https`, I get the above `Not Found` error (which seems to be a low-level networking error rather than an HTTP 404). So it essentially boils down to above code failing to proxy H

[2020-08-20 02:21] hiranya911 commented on #397
# Sending via a regular CONNECT proxy

Turned out the problem was actually in my mock proxy server (I was using a simple reverse proxy script that couldn't handle HTTP to HTTPS bridging properly). Once I used an actual CONNECT proxy server (e.g. https://github.com/elazarl/goproxy), everything worked out fine. Here's my working example:

[code]

Note that I'm using `oauth2.Transport` as a wrapper t

[2020-08-20 21:44] bulletblp4 commented on #397
Thank you ! that worked...

[2020-08-30 18:30] chiangGlu opened #398 "Issues discovered during troubleshooting "http error status: 403; reason: sender id does not match regisration token; code: mismatched-credential; details: The caller does not have permission" with Firebase support"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a GitHub issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2020-08-31 01:34] hiranya911 commented on #398
This error generally means the target registration token doesn't belong to the same Firebase project as the one the sender (i.e. the Go SDK) is authorized as: https://firebase.google.com/docs/reference/admin/error-handling#firebase-cloud-messaging

In other words, your sender code is authorized for project A, but it's attempting to send notifications to a device token from project B.

[2020-08-31 01:34] #398 closed

[2020-09-03 07:23] raghunathmestry opened #399 "SnederId Mismatch"
hi I got an error in previous days from this module here is the code and screenshot, please I need help to resolve this issue.
**error is SenderId mismatch**
1. I create two SHA 1 Keys one for development and the second one is for production.
2. Also, I change my SHA 1 key from the google developer account for the google play store uploaded file.
 any problems with the above changes in the project

[2020-09-03 16:01] raghunathmestry commented on #399
yes but I use all FCM templates from Github. all give me the same error.

[2020-09-03 17:58] hiranya911 commented on #399
You're in the wrong place. This is the repo for the Firebase Go Admin SDK. You seem to be using a third-party PHP module.

[2020-09-03 17:58] #399 closed

[2020-09-16 16:03] asidorochev opened #400 "WithCredentialsJSON and WithHTTPClient options doesn't work together"
### Environments

  * Operating System version: all
  * Firebase SDK version: v4.0.0
  * Firebase Product: messaging

### The problem

#### Steps to reproduce:

If I use only WithCredentialsJSON option to create Firebase App, it works with no problem. But if I use both WithCredentialsJSON and WithHTTPClient options, I got error while sending message: "Request is missing required authentication cre

[2020-09-16 18:09] hiranya911 commented on #400
Unfortunately that's by design. The [documentation](https://godoc.org/google.golang.org/api/option#WithHTTPClient) mentions this:

If you think this behavior should change I'd advise filing an issue at https://github.com/googleapis/google-api-go-client

The only other alternative is to initialize an `oauth2.Transport` instance with the right credentials, and pass that into your `http.Client`. See

[2020-09-16 18:09] #400 closed

[2020-09-21 21:03] lahirumaramba commented on #391
Hi @allentv !

Thank you again for your contribution! We would like to propose the following API for Go SDK.
I see similarities in your implementation (#396) but there are also places where the code needs to be updated.
We do not expect you to implement the complete API. :)
If you can update #396 to match the corresponding parts of the API proposed below, it would make a great start towards a comp

[2020-09-25 16:07] skuskusku opened #401 "Are error strings in any way localized?"
Hello everyone,

I am using firebase v4 to push notifications to android devices. When the Send method of the instance of messaging.Client fails, I only get a string error value and I wonder if this error string is localized. If not, I could compare it against e.g. "Requested entity was not found." to detect devices that have uninstalled my app. Is this string always plain english or does this dep

[2020-09-25 16:24] skuskusku opened #402 "Are error strings in any way localized?"
Step 2: Describe your environment

  * Operating System version: Windows
  * Firebase SDK version: v4
  * Library version: How can I find out
  * Firebase Product: messaging

Step 3: Describe the problem

I am using firebase v4 to push notifications to android devices. When the Send method of the instance of messaging.Client fails, I only get a string error value and I wonder if this error string

[2020-09-25 20:58] hiranya911 commented on #401
Error strings are not localized, but there's no guarantee that they will remain the same forever. Use the error handling functions provided in the SDK to check for specific error codes. See https://firebase.google.com/docs/reference/admin/error-handling

[2020-09-25 20:58] #401 closed

[2020-09-25 20:59] hiranya911 commented on #402
Duplicate of #401

[2020-09-25 20:59] #402 closed

[2020-10-03 18:28] allentv commented on #391
@lahirumaramba Thanks for sharing the API spec. I have updated the PR with the above changes.

It seems like `ListVersionsOptions` has been repeated twice. Am I correct to assume that the last `struct` refers to `User`?

[2020-10-03 23:30] lahirumaramba commented on #391
@allentv Good catch! Yes, the last struct should be:
[code]
Thank you again for updating the PR! We really appreciate your contribution!

[2020-10-13 01:42] akshaybabloo opened #405 "Unable to add nested structs to Firestore"
### Describe your environment

  * Operating System version: macOS 10.15.7
  * Library version: 4.0.0
  * Firebase Product: firestore

### [REQUIRED] Describe the problem

I am having issue showing the data that is part to nested struct. Example:

[code]

Above code should be able to do something like this:

[code]

But I get (screenshot)

<img width="325" alt="Screen Shot 2020-10-10 at 6 20 03 PM

[2020-10-23 21:51] hiranya911 commented on #332
This has been fixed for a while (see #343), and released in v4

[2020-10-23 21:51] #332 closed

[2020-10-26 09:36] akshaybabloo commented on #405
Any uppdate on this?

[2020-11-03 12:46] maku693 opened #409 "FR: Support Authentication Emulator"
### Step 2: Describe your environment

* Operating System version: all
* Firebase SDK version: 4.1.0
* Firebase Product: auth

### Step 3: Describe the problem

Firebase Local Emulator Suite has Authentication Emulator, but this SDK doesn't support the emulator yet.

While Realtime Database emulator support being discussed on #298, I believe emulator support can be implemented separately for each

[2020-11-03 23:20] schmidt-sebastian commented on #405
Sorry - we don't own the Firestore Go client, but merely wrap it. Do you mind filing the issue at https://github.com/googleapis/google-cloud-go?

[2020-11-03 23:20] #405 closed

[2020-11-04 16:38] samtstern commented on #409
@maku693 thank you for the detailed issue and the offer of a PR!  I think to start we'd definitely be interested in supporting `FIREBASE_AUTH_EMULATOR_HOST` and the JWT signing as well, but we should skip anything to do with JWT verification.  We're looking to improve the methods used in Node before porting those.

[2020-11-04 16:39] samtstern commented on #409
cc @yuchenshi

[2020-11-06 06:13] SchiffFlieger opened #410 "FR: trigger email verification process with firebase templates"
As far as I can see, there is currently no way to trigger the email verification flow using the default firebase email templates. There is the method `EmailVerificationLinkWithSettings`, but this only returns the activation url to use it in custom emails.

Are there any plans to include this feature? If so, I would be happy to support.

[2020-11-06 21:38] hiranya911 commented on #410
There are no immediate plans to provide this functionality as far as I know. I'd recommend filing a feature request via Firebase Support first.

[2020-11-06 21:40] bojeil-google commented on #410
@hiranya911 is correct. We don't have an official way to do this in the Admin SDKs. I also recommend you file a [feature request](https://firebase.google.com/support) for this.

[2020-11-09 16:26] sonatard opened #411 "FR: Enable anonymous authentication when creating and updating a tenant"
It can solve to add `enableAnonymousUser` param to CreateTenant and UpdateTenant.

## detail

CreateTenant and UpdateTennant request body have Tenant.

https://cloud.google.com/identity-platform/docs/reference/rest/v2/projects.tenants/create
https://cloud.google.com/identity-platform/docs/reference/rest/v2/projects.tenants/patch

Tenant type has `enableAnonymousUser`.

https://cloud.google.com/ide

[2020-11-10 20:24] bojeil-google commented on #411
We are already working on this. @rsgowman is leading that work in all the major languages:

https://github.com/firebase/firebase-admin-node/pull/802

[2020-11-14 12:15] chris-rock commented on #409
Having this feature in this sdk would be really helpful!

[2020-12-03 22:24] hiranya911 commented on #372
I'm going to close this as we don't see an immediate need to make this change. The upgrade will happen naturally in a future release, as we onboard new features into the Admin SDK.

[2020-12-03 22:24] #372 closed

[2020-12-03 22:26] hiranya911 commented on #229
I'm going to close this as we don't have any plans to support this API right now. If you think this feature is critical, please file an issue at https://firebase.google.com/support/troubleshooter/report and with enough feedback we can take another look.

[2020-12-03 22:26] #229 closed

[2020-12-09 17:44] kanekv commented on #409
This issue has "help-wanted" label, is it already being worked on or needs help/contribution?

[2020-12-09 20:07] yuchenshi commented on #409
This is on our roadmap, but we're still in the planning stage right now. We welcome contributions that help to land this feature sooner.

[2020-12-10 20:35] chowey commented on #409
I've had success with [this pull request](https://github.com/maku693/firebase-admin-go/pull/1), but @maku693 has not merged it into his branch or proposed his own pull request.

[2020-12-11 10:26] samtstern commented on #409
Just to be clear there are two major parts to adding support here:

  1. Make the library recognize `FIREBASE_AUTH_EMULATOR_HOST` and modify all outgoing HTTP requests accordingly.
  2. Make the library have different behavior for verifying ID tokens and creating session cookies (JWT operations) when running against the emulator.

(1) is simple and we'd be happy to accept a PR implementing that. (

[2020-12-18 17:40] maku693 commented on #409
Sorry I was away for a while, but I just proposed a PR! #414

[2021-01-07 21:02] #410 closed

[2021-01-13 16:35] Jo3116 opened #415 "Unable to connect to realtime db hosted in europe west"
* Operating System version: macOS Catalina 10.15.6
  * Firebase SDK version: 4.1.0
  * Library version: Unsure Latest i believe
  * Firebase Product: realtime database

###The problem
Cannot connect to a realtime Db hosted in Europe west because of invalid database URL. I was attempting to use a url ending in `europe-west1.firebasedatabase.app` to connect to a Europe hosting but received the error

[2021-01-15 23:34] hiranya911 commented on #415
This requires a fix similar to https://github.com/firebase/firebase-admin-python/pull/517

[2021-01-22 15:46] bpicolo opened #416 "Allow package consumers to simulate errors in test"
### [REQUIRED] Step 2: Describe your environment

  * Library version: lastest
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem
FirebaseError, along with it's relevant constructor,  currently live inside package `internal`. `errorutils` gives a handy way to check if an error is a specific type of firebase error, but it's not possible to simulate errors in unit tests in go, b

[2021-01-22 19:23] hiranya911 commented on #416
Thanks for reporting this issue. I don't think there's an easy way to reproduce those error conditions in unit tests today. But we just added emulator support in #414. When this feature gets released in the near future, testing some of these error flows should become easier.

However, we'd probably want to go one step further, and make it trivial to create arbitrary errors for unit testing without

[2021-01-22 21:55] bpicolo commented on #416
@hiranya911

We're wrapping most of the client usage inside an interface:

[code]

By mocking that interface, we can customize the error returned, which is rad, but the goal in the calling code is to handle certain error conditions differently than others, i.e. EMAIL_EXISTS. The `errorutils` give us a way to check for that with `IsAlreadyExists()`, but we can't contrive a test for that code if we

[2021-01-22 22:34] hiranya911 commented on #416
Thanks @bpicolo for the feedback. Making our SDKs more amenable for unit testing is one of our planned objectives this year. We will definitely consider this requirement as part of that.

That's an interesting idea. I guess all you need is the ability to reference or create a value that will pass our `IsXXXXX()` error checks in the `errorutils` package. Perhaps we ought to provide a series of fact

[2021-02-05 22:19] hiranya911 commented on #409
This feature was released with v4.2.0

[2021-02-05 22:19] #409 closed

[2021-02-06 19:34] chowey commented on #409
This leaves `VerifyIDToken` unsupported. It seems to me that `VerifyIDToken` is easily implemented by just skipping the signature check on the JWT, or (slightly better) by verifying there is no signature on the JWT. But I'm confused by the following:

Based on (2), are you saying that `VerifyIDToken` is intentionally unsupported until further notice?

`VerifyIDToken` is an important part of my Go

[2021-02-08 09:56] samtstern commented on #409
@chowey that's correct but it's a temporary situation. We were still debating on the best way to implement emulated VerifyIdToken before doing it, so we left that out at first.

[2021-02-15 11:14] maku693 commented on #409
For Node.js SDK, https://github.com/firebase/firebase-admin-node/pull/1148 finally landed, so it seems now the 'temporary situation' has been concluded. Can I submit a PR to bring token verification to this SDK as well?

[2021-02-15 11:17] samtstern commented on #409
@maku693 if you feel comfortable porting the Node.js technique from that PR to this repo then we would love to accept your PR! Let us know if you have any questions about the implementation.

[2021-02-26 00:27] bastengao opened #420 "Clean go.mod unused grpc dependecy"
https://github.com/firebase/firebase-admin-go/blob/master/go.mod#L11

[2021-02-26 00:39] hiranya911 commented on #420
It's an `indirect` dependency for Firestore. `go mod tidy` doesn't remove it.

[2021-02-26 00:39] #420 closed

[2021-03-02 09:54] jasperkuperus opened #421 "FR: MFA support"
### Describe your environment

  * Operating System version: All
  * Firebase SDK version: v4.2.0
  * Firebase Product: auth

### Describe the problem

It would be nice if this library had support for MFA. Specifically, I'd like to get the enrolled second factors for a given user. For Node.js this is [available and documented](https://cloud.google.com/identity-platform/docs/admin/manage-mfa-users)

[2021-03-05 22:26] hiranya911 commented on #421
No specific plans yet. But we are accepting PRs if somebody wishes to help speed things along.

[2021-03-09 10:49] jasperkuperus commented on #421
Unfortunately, I don't have time to fully implement MFA. But I did just open a PR to add the MFA info to the user record. This already adds great value in my situation.

[2021-03-13 10:55] thameezb commented on #415
Hitting the same issue

[2021-03-25 13:11] musinit opened #426 "cannot find module providing package google.golang.org/grpc/naming"
This is after go get firebase.google.com/go/v4 command

[2021-03-25 13:38] #426 closed

[2021-03-25 13:39] musinit opened #427 "Update on latest github.com/grpc/grpc-go version"
Just a suggestion, because 1.29 version is so old!

[2021-03-25 20:20] hiranya911 commented on #427
It is an indirect dependency via Firestore. I think we can try upgrading Firestore and see if that helps.

[2021-03-25 23:49] andrewmathies opened #429 "Supplying service account creds with option.WithCredentials() doesn't throw an error until user tries to verify a token"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: ubuntu 18.04
  * Firebase SDK version: v4
  * Library version: v1.0.2
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:
I just spent several days confused as to why my backend server couldn't verify tokens. My client is a Unity game, and my server is written in Go.

I was

[2021-03-26 18:54] hiranya911 commented on #429
That's strange. The SDK shouldn't even attempt to use credentials in`VerifyIDToken()`. We explicitly use an unauthenticated HTTP client to connect to https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

https://github.com/firebase/firebase-admin-go/blob/eb0d2a08b9f4347c9791ae75ca6bbc226a676a08/auth/token_verifier.go#L106-L124

[2021-03-26 19:20] hiranya911 commented on #429
I just tried the following and it ran to end with no issues:

[code]

Are you using an older version of the SDK by any chance? Really old versions of the SDK used an authenticated client to fetch public keys, and that's one way you can run into the above problem.

[2021-03-27 03:40] andrewmathies commented on #429
Yeah it looks like I've been using v1.02 instead of v4. I guess I didn't read https://firebase.google.com/docs/admin/migrate-go-v4 close enough. I think by running `go get firebase.google.com/go` with an existing `.mod` file I accidentally installed v1 of the library

Whoops :sweat_smile:

[2021-04-01 22:42] #429 closed

[2021-04-01 22:42] #427 closed

[2021-04-01 22:43] hiranya911 commented on #421
PR has been merged and updated to meet our API design requirements. This will be included in the next release.

[2021-04-01 22:43] #421 closed

[2021-04-29 13:17] parnic opened #434 "Typo in AndroidNotification unmarshal"
* Firebase SDK version: 4.5.0
  * Library version: latest
  * Firebase Product: messaging

#### Steps to reproduce:

Attempt to unmarshal/deserialize a message with the PRIORITY_DEFAULT priority.

#### Relevant Code:

From the SDK:

[code]

To trigger:

[code]

[2021-04-29 18:39] hiranya911 commented on #434
Thanks for the fix.

[2021-04-29 18:39] #434 closed

[2021-05-21 11:26] ToeFungi opened #440 "Allow for Auth Provider Configs to be set"
At the moment it appears that only OIDC and SAML providers can be set via the Go client. Would be incredibly useful to add Firebase auth providers such as phone and email/password so that we can programmatically manage this with something like Terraform.

## API
https://cloud.google.com/identity-platform/docs/reference/rest/v2/projects/updateConfig

## Note
It appears that the Node SDK has this fu

[2021-05-21 11:39] ToeFungi opened #441 "FR: Allow for Authorised Domains to be set"
It would appear that there isn't a way to set authorised domains using the Go SDK. Would be great to have this available so that it can be programmatically managed using something like Terraform.

## API
https://cloud.google.com/identity-platform/docs/reference/rest/v2/projects/updateConfig

[2021-05-21 22:48] hiranya911 commented on #440
I think this was already implemented in #344

https://pkg.go.dev/firebase.google.com/go/v4/auth#UserToUpdate.ProviderToLink

@ToeFungi can you check if this meets your needs?

[2021-05-21 22:49] #415 closed

[2021-05-21 23:20] bojeil-google commented on #441
I think this needs a product decision. We already have feature requests for this (it is a popular feature). The API is not ideal as it is used to modify many other core configurations on the project. They may decide to support all of them via some admin sdk API, or expose a dedicated API for this. Anyway, I think this needs product input.

[2021-05-26 11:20] ToeFungi commented on #440
@hiranya911 if I'm understanding the documentation correctly, that enables the provider against a specific user?

We're looking to enable Phone and Email/Password auth providers at the project level. I'm not sure if that implementation handles project level enabling of the providers?

[2021-05-26 11:34] skuskusku opened #442 "How to set a timeout for the send method of the messaging client?"
Step 2: Describe your environment

    Operating System version: Windows
    Firebase SDK version: v4
    Library version: How can I find out
    Firebase Product: messaging

Step 3: Describe the problem

I am using firebase v4 to push notifications to android devices. Now if I try to create an error situation w.r.t. to the network, the Send method of the instance of messaging.Client hangs indefin

[2021-05-26 15:09] valery-barysok opened #443 "Incorrect import of user metadata"
Library version: Latest

During the import of users I need to provide partial metadata for user to import but it requires both.

My code looks like:

[code]

[2021-05-27 22:25] hiranya911 commented on #442
Just set a timeout on the context:

https://pkg.go.dev/cloud.google.com/go#hdr-Timeouts_and_Cancellation
https://golang.org/pkg/context/#WithTimeout

[2021-05-27 22:25] #442 closed

[2021-05-27 22:30] #443 closed

[2021-05-27 22:41] hiranya911 commented on #440
Ah, that's more of a project management operation.

@bojeil-google wdyt?

[2021-05-27 22:57] bojeil-google commented on #440
I think this is part of bigger project to configure built-in providers (email/password, email link, phone, social providers, etc) at project level as well as tenant level. We have been wanting to do this for a while but this needs product approval.

[2021-05-28 14:52] ToeFungi commented on #440
We created a custom client and Terraform provider to accomplish this in the mean time. Would be ideal if this was added officially though.

[2021-05-30 08:14] mirecl opened #448 "Auth with Phine number"
How to use auth with phone number in sdk?

[2021-05-31 14:42] skuskusku commented on #442
Thank you very much, hiranya911, this works just fine. However, how can I determine that the error object from the client.Send method call is actually a timeout? When logging the error object when a timeout occurs, I get "context deadline exceeded" as the error string, but I would rather not want to compare this string description of the error object against the hardcoded text  "context deadline e

[2021-05-31 15:06] skuskusku commented on #442
Never mind, I found out on my own. Thanks again, hiranya911

[2021-06-01 16:32] hiranya911 commented on #448
Admin SDK doesn't support user auth operations. It's only for server-side implementations using service accounts.

[2021-06-01 16:32] #448 closed

[2021-06-05 18:57] boosh commented on #298
Any update on this?

[2021-06-24 17:27] geoah opened #451 "Should `VerifyIDToken` be able to verify a token created by `CustomToken`?"
### [READ] Step 1: Are you in the right place?

I really hope so. I'm still trying to wrap my head around firebase admin and client so I do apologise if this is not an issue of the admin library.

Thank you in advance! :D

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: MacOS Docker
  * Firebase SDK version: v8
  * Library version: v4.6.0
  * Firebase Product: auth

[2021-06-24 17:31] hiranya911 commented on #451
Custom tokens are not ID tokens, and therefore cannot be verified via `VerifyIDToken()` (both in emulator and production modes). Custom tokens can only be used for sign-in on a client device.

[2021-06-24 17:31] #451 closed

[2021-06-30 16:53] nitaigao commented on #298
It's been a whole year since the post about it being tracked as b/136271028, is there any update on this feature?

[2021-07-20 04:30] olegsu opened #452 "FR: support signInWithCustomToken method"
Hey, I am creating a Golang app that should run not in my environment, but the remote untrusted cluster.
I want to generate a JTW custom token and pass it to the go client to be used there.
Using the NodeJS it was easy for me using the `signInWithCustomToken` function as described [here](https://firebase.google.com/docs/auth/admin/create-custom-tokens). Can you please support the same authenticati

[2021-07-20 17:24] hiranya911 commented on #452
We don't offer client authentication operations on Admin SDKs. For Golang you will have to use the REST API, and come up with something similar to this:

https://github.com/firebase/firebase-admin-go/blob/928b104e521ffc3d7de0319efe1553c31e85e13f/integration/auth/auth_test.go#L213-L242

Note that this requires an API key.

[2021-07-20 17:24] #452 closed

[2021-07-29 09:55] qutubworldish commented on #426
Hi @musinit , I am facing the same issue with go get firebase.google.com/go/v4.
Can you please tell me how you resolved this issue.

[2021-08-02 06:57] timothyleung1 commented on #298
+1

[2021-08-03 05:58] 11Akhil commented on #426
same issue with me too, what i understand is that the firebase package is not getting stored on the desired locations where it is supposed to be maybe manually adding the firebase package under the gopath can solve the issue. if anyone else have some different way of fixing it please let me help out

[2021-08-04 05:57] adarshk-rapido commented on #391
@lahirumaramba @allenktv thanks for this contribution, even we were looking for this, any idea when this will be part of master branch or released ? (sorry i'm unaware of the release process in this repo)

Meanwhile I'm thinking of using the `firebase:remote-config` branch in `go.mod` this should be ok right ?

Our usecase is to only work with remote-config.

[2021-08-04 18:32] lahirumaramba commented on #391
Hi @adarshk-rapido, Thank you for your interest!
Unfortunately, we are unable to provide a timeline for a new release with the remote config API at the moment.

You can use the `remote-config` branch if you would like. However, since this is still a work in progress and not officially released yet the final API surface may change.

[2021-08-05 06:55] adarshk-rapido commented on #391
thank you @lahirumaramba

[2021-08-09 18:42] MrinalKGhosh commented on #391
@lahirumaramba @allenktv I was using the remote-config branch for our use case. While using `GetRemoteConfig` we are facing some issue which we are assuming from the SDK side.

I checked with `ListVersions` and it's working fine. It would be very helpful someone verifies this.
Thank you

[2021-08-10 20:11] allentv commented on #391
@MrinalKGhosh I only did an initial implementation and then this issue was opened to discuss the API surface. So not all API endpoints would be working.

[2021-08-12 00:37] Galadros opened #454 "verifyIDToken doesn't check disabled status"
The verifyIDToken function checks to see whether the ID token is revoked, but never actually checks to see whether or not it's disabled.

[2021-08-18 23:47] derekperkins opened #457 "FR: Have GetUser return ExportedUserRecord"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: MacOS
  * Firebase SDK version: 4.6
  * Library version: 4.6
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

The only way to retrieve password information for a user is to run `client.Users()` and iterate through every user in the system. I am trying to get the passwor

[2021-08-19 17:22] hiranya911 commented on #457
This is by design. Why do you want the `GetUser()` to return password information? There's no typical use case that would require that.

[2021-08-19 18:15] derekperkins commented on #457
It requires significant workarounds to have the Firebase UID match the UID in our internal systems because it is auto-creating users. When a new user signs in, we grab all their user/provider information, delete that user and then import it again with all the same details except with a new UID. If there is a better way to do that, I'd love to hear.

[2021-08-19 18:53] hiranya911 commented on #457
@bojeil-google WDYT? Seems like a selective export use case.

@derekperkins would it be possible to maintain the mapping between Firebase UIDs and your internal UIDs in Firestore instead?

[2021-08-19 19:06] derekperkins commented on #457
It's possible, but not something we want to do. That requires a lookup on every single auth operation vs just setting it correctly on signup.

[2021-08-19 19:20] derekperkins commented on #457
Getting password details is protected by its own iam permission, so IMO that should govern whether or not the password is returned. I'm not sure if it is the Firebase API itself that only returns the password details on a list call or the Go SDK making a decision on whether to expose some api response fields.

[2021-08-19 19:56] hiranya911 commented on #457
All our Admin SDKs distinguish between `UserRecord` and `ExportedUserRecord` types. And currently only the "list" operation is meant to return `ExportedUserRecord`.

[2021-08-20 21:29] hiranya911 commented on #454
Fixed in #455

[2021-08-20 21:29] #454 closed

[2021-08-22 11:39] samlof opened #458 "Authentication emulator fails on clean environment to required default credentials"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: WSL Unix
  * Firebase SDK version: 4.6.0
  * Library version: v4.6.0
  * Firebase Product: auth emulator

### [REQUIRED] Step 3: Describe the problem

Running auth emulator with the wanted env variable FIREBASE_AUTH_EMULATOR_HOST fails.

#### Steps to reproduce:

Start a project in a clean machine. Add env variable FIR

[2021-08-22 14:51] samlof commented on #458
What you actually want is
[code]
This one works with creating users too. `WithoutAuthentication()` doesn't work with creating user

[2021-08-24 07:52] derekperkins commented on #457
Does the api itself return the password data on other calls?

I'll also reiterate - my real issue is how to supply the UID to Firebase, so making the UID updateable would fix everything. This is just trying to make the workaround less terrible. Do you know if the `List` call returns newest users first? At least that would mean that I'm not iterating through 100% of our users on every new signup, l

[2021-08-31 20:54] MikolajMGT commented on #458
Hi @samlof, I've tried your solution with `&firebase.Config{ProjectID: "demo"}` but it throws 401 error error while creating new user:
`Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.`

Is it neccessary to add something else to config or o

[2021-09-02 20:51] hiranya911 commented on #458
Fixed with the above PR. Will be included in the next release.

[2021-09-02 20:51] #458 closed

[2021-09-09 12:48] castor-rtzr opened #460 "Append BadGateway(502) error in retryNetworkAndHTTPErrors"
### [REQUIRED] Step 2: Describe your environment

  * Library version: latest
  * Firebase Product: cloud messaging

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Recently I received BadGateway(502) error often when I send push messages using `fcmClient`.

[code]

The error message says ```<p>Please try again in 30 seconds.  <ins>That’s all we know.</ins>```

In my opinion

[2021-09-09 19:11] hiranya911 commented on #460
502 is not safe for retries. See https://cloud.google.com/apis/design/errors#retrying_errors

@chong-shao do you know what the above error is about?

[2021-09-11 02:43] chong-shao commented on #460
We saw a similar error reported previously https://github.com/firebase/firebase-admin-python/issues/493 and the decision there is not to add code in Admin SDK to retry on this. From the previous discussion, customer can add retry logic on their end for this.

502 errors seems to be transient and rare, and is not related to the FCM backend.

[2021-09-14 04:21] castor-rtzr commented on #460
Thanks for the detailed reply.
I will close this issue.

[2021-09-14 04:21] #460 closed

[2021-09-23 00:13] arkanjoms commented on #298
+1

[2021-10-20 20:49] KevinShiCA opened #462 "Credentials still required when connecting to emulators"
### [READ] Step 1: Are you in the right place?

I think so!

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS Big Sur 11.6
  * Firebase SDK version: N/A, but my `firebase-tools` is on 9.20.0
  * Library version: `firebase.google.com/go/v4 v4.6.0`
  * Firebase Product: auth/firestore + emulators

### [REQUIRED] Step 3: Describe the problem

I am using firebase f

[2021-10-20 21:51] MaxWaterfall commented on #462
I just came across the same problem. Looks like this has already been reported: https://github.com/firebase/firebase-admin-go/issues/458#issue-976355243 and fixed, but not yet released

[2021-10-20 22:02] #462 closed, assigned to nobody

[2021-10-22 03:51] steeling opened #463 "Allow emulator CustomTokens to be verified"
Right now, a CustomToken fails verification due to the aud claim not being set appropriately
https://github.com/firebase/firebase-admin-go/blob/master/auth/auth.go#L35
https://github.com/firebase/firebase-admin-go/blob/master/auth/token_verifier.go#L280

This prevents me from generating a custom token to use in E2E tests. There's no other clients API for go, so my alternative is to issue HTTP requ

[2021-10-28 19:58] aljesusg opened #464 "Firebase SDk don't allow europe-west1.firebaseio.com"
Hi It seems that firebase.google.com/go don't allow databaseURL located like dbName.europe-west1.firebaseio.com

[code]

[2021-10-28 20:02] #464 closed, assigned to nobody

[2021-11-01 18:26] andrefedev opened #465 "Improve error handling"
To improve the library, I would like to propose that the errors thrown instead of spitting a flat error could return a more explicit error depending on the function that is being consumed, here is an example:

[code]

I know that you can wrap the output to return something custom but for newcomers and not being familiar with all the errors that you would have to handle with firebase auth and other

[2021-11-01 19:16] andrefedev commented on #465
I just found that there is a version of firebase 4 that has an errorutils.go module that does exactly what I wanted to find in this great library, you guys do more than an excellent job, thanks.

[2021-11-01 19:16] #465 closed

[2021-11-25 03:14] tyahha opened #470 "FR: add 'VERIFY_AND_CHANGE_EMAIL' linkType for generateEmailActionLink"
### environment

  * Operating System version: Windows 10
  * Firebase SDK version: 4.6
  * Library version: 4.6
  * Firebase Product: auth

### Describe the problem

I want to send custom email when your change email.
And I want to verify email before change email.
Firebase Client SDK have this feature, but Firebase admin sdk have not feature to generate this type email action link.
So, As other

[2021-12-31 03:06] AntonNguyen opened #474 "FR: Start supporting ios 15's interruption-level"
### Describe your environment
- Operating System version: All
- Firebase SDK version: v4.7.0
- Firebase Product: FCM

### Describe the problem

With the release of iOS 15, they've added a new value to the payload:

- [`interruption-level`](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification)

The FCM library at the mo

[2021-12-31 05:23] prashanthjbabu opened #476 "Ability to override default retryconfig"
I understand that the following PR ( https://github.com/firebase/firebase-admin-go/pull/215/files ) brings in a default retryconfig which allows upto 4 retries . I did notice a comment there where there was some discussion around overriding this default retryconfig . Although it wasnt clearly specified how to go about doing it ( via some example ) . So the question I have is :

1. Is it possible t

[2022-01-05 00:09] hiranya911 commented on #476
@prashanthjbabu this is not possible today. `RetryConfig` is defined as an internal type -- https://github.com/firebase/firebase-admin-go/blob/6b40682756f19c6cf9b327843efaf06a4056a79e/internal/http_client.go#L365-L370

But, it would be useful to make it possible to configure the default retry behavior (may be via an App option or even an environment variable). @lahirumaramba FYA.

[2022-01-05 00:13] hiranya911 commented on #474
You can always use the `CustomData` field to add parameters that are not explicitly defined on the type.

[code]

The SDK will serialize the json request correctly.

[2022-01-06 16:09] AntonNguyen commented on #474
@hiranya911 You're right. That works. Thanks!

[2022-01-06 16:09] #474 closed

[2022-01-12 05:21] prashanthjbabu opened #478 "AuthOverride with custom user claims"
I have invoked the firebase new app with an authoverride option where i pass a UID which has a custom claim like `role` as `admin` . However this seems to be failing(Permission Denied) at the firebase rules of the realtime database where i have a write condition for `auth.token.role === admin` .

The objective here is that I'd like the firebase admin sdk to be validated against any firebase rules

[2022-01-12 20:07] lahirumaramba commented on #478
Do you have other rules that might be failing before it even gets to the custom claims? See [rules are not filters](https://firebase.google.com/docs/database/security/core-syntax#rules_are_not_filters).
Here is a similar question on SO https://stackoverflow.com/questions/58447913/firebase-permission-denied

Please use Stack Overflow for usage questions in the future. Thanks!

[2022-01-12 20:07] #478 closed

[2022-01-14 19:39] hiranya911 commented on #351
Found a fairly robust and exhaustive regex for email validation at https://html.spec.whatwg.org/multipage/input.html#valid-e-mail-address

We might want to update our email validation to use something like that.

[2022-01-14 19:44] mohammed90 commented on #351
Please check the note in the same link:

RFC 5322 is the standard spec for email:
https://datatracker.ietf.org/doc/html/rfc5322

[2022-01-14 22:35] thomasmburke opened #479 "Update snippet for importing users with Firebase scrypt hashed passwords"
### Describe the problem

When trying to migrate users across tenants in a test app I noticed that the `PasswordHash` of users I moved to the new tenant was being changed to the previous tenant's `PasswordHash` base64 encoded again. This means when a user tries to sign in with this newly imported user the correct password will be invalid

Additionally, when exporting users I noticed that some of t

[2022-01-17 04:09] sahejsingh commented on #476
Came here to raise the same request.

I have another suggestion.

Currently the Default retry config checks for just one error (503).

But the firebase docs (https://firebase.google.com/docs/reference/fcm/rest/v1/ErrorCode) suggest this should be done for the following error codes:
- QUOTA_EXCEEDED
- UNAVAILABLE
- INTERNAL

[2022-01-24 00:23] sahejsingh opened #482 "FR:firebase client could handle retry for batch Send methods"
### Describe your environment

  * Operating System version: Mac / Linux
  * Firebase SDK version:
  * Library version: 4.7
  * Firebase Product: cloud messaging

### [REQUIRED] Step 3: Describe the problem
#### Retry when one of the tokens gets `INTERNAL` error.

Here is the scenario:
- client uses [SendAll](https://github.com/firebase/firebase-admin-go/blob/master/messaging/messaging_batch.go#L9

[2022-02-03 14:15] bamnet opened #483 "FR: App Check Token Validation"
* Operating System version: N/A
  * Firebase SDK version: N/A
  * Library version: N/A
  * Firebase Product: App Check

Currently, App Check validation is only available with the NodeJS-based Admin SDK.  This limits the ability to [Verify App Check tokens from a custom backend](https://firebase.google.com/docs/app-check/custom-resource-backend) to Node-compatible applications.

Go is a very popula

[2022-02-04 16:48] lahirumaramba commented on #483
Hi @bamnet, Thank you for the feature request!
We do not have plans to add App Check support to Go SDK at the moment. I will keep this issue open so that we can track any updates in the future. We also accept contributions to the codebase so you are welcome to submit pull requests if you would like.

For now, please refer to [this blog post](https://firebase.googleblog.com/2021/10/protecting-backe

[2022-02-04 22:21] bamnet commented on #483
Thanks for the update!  Hearing it's not on your radar, I'll send a pull request soon that implements the logic in that blogpost.

[2022-02-09 00:03] tyrone-anz commented on #416
@hiranya911, will it be possible to have a public type referring to the FirebaseError similar to the `pubsub.Message` below?

https://github.com/googleapis/google-cloud-go/blob/main/pubsub/message.go#L37

I wanted to record the different ErrorCode but I am only getting`error` type through the SDK. I understand the individual `IsXXXXX()` checks exist but this means I have to enumerate all of those

[2022-02-09 23:54] tyrone-anz commented on #416
@hiranya911 I deleted my old reply here and added this one as it seems my understanding was wrong then.

Do you think it would be possible to get the FirebaseError exported? I wanted to record the different `messagingErrorCode` I am receiving from FCM. Would be fine as well if there's an errorutils function to extract that code in particular from an `error`.

[2022-02-14 23:10] bojeil-google commented on #457
FYI @prameshj

[2022-02-15 22:56] #479 closed

[2022-03-08 04:26] StainlessStlRat opened #486 "auth.Client.CreateUser(...) panics if email is already in use in project"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Mac OSX Monterey & Docker debian
  * Firebase SDK version: 4.7.1
  * Library version: 4.7.1
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Attempt to create a user whose email is already in use with the project configured for only one account per email
#### Relevant C

[2022-03-08 13:15] marwan-nwh opened #487 "How to verify users emails?"
Hi,

I want to build a custom endpoint to verify users emails, but I can't find any function that could do that in the auth package.

Something like `auth.applyActionCode` [here](https://firebase.google.com/docs/auth/custom-email-handler#create_the_email_action_handler_page).

Am I missing something?

[2022-03-08 16:44] #486 closed

[2022-03-08 20:15] marwan-nwh commented on #487
@lahirumaramba Thanks for your help. No, I am already generating the email, but it links to a firebase endpoint, that verifies the email and gives you a success message. We want to build a custom page.

[2022-03-08 20:51] lahirumaramba commented on #487
I see. I am not sure if that is currently supported in the REST API.

@prameshj is this something we currently support in GCIP?

[2022-03-08 21:22] prameshj commented on #487
@marwan-nwh can you elaborate on your usecase - why is a custom page preferable here?

[2022-03-09 00:47] marwan-nwh commented on #487
@prameshj We want to control where to redirect the users, the messages that show up, and we want to control the design of the page too.
Actually, we want to do that with all the actions like verifyEmail and resetPassword.

[2022-03-10 00:11] prameshj commented on #487
cc @renkelvin

[2022-03-10 20:31] prameshj commented on #487
the current SDK code invokes ‘/v1/accounts:sendOobCode’ API to firebase in reset password/verifyEmail flow and the firebase hosted UI ensures that the '/v1/accounts:signInWithEmailLink' is invoked.

In this issue, the ask is to send this request to a custom endpoint. This is not supported currently and I think is out of scope for the firebase SDKs.

redirecting users can be done by setting the con

[2022-03-11 08:48] marwan-nwh commented on #487
@prameshj  How is this out of the scope? Why does it exist in the JS SDK then?
It is a normal request to customize that page.
Anyway, I will try to use the API directly, or use the JS SDK. Thanks for your help.

For anyone searching in the future:
https://firebase.google.com/docs/auth/custom-email-handler#create_the_email_action_handler_page
https://firebase.google.com/docs/reference/js/v8/firebas

[2022-03-11 08:48] #487 closed

[2022-03-17 12:43] sneko opened #488 "FR: get details according to a FCM token"
Hi,

I found there is a possibility from a FCM token to know some details about the platform (ios/android) and other properties.

I saw https://developers.google.com/instance-id/reference/server to do this, but it seems your Go SDK does not embed all endpoints. Is it something on your roadmap?

Thank you,

[2022-03-17 16:26] VictorKeil opened #489 "StandardScrypt has incorrect key for MemoryCost when creating http request"
### Describe your environment

  * Operating System version: macOS Monterey V12.3
  * Firebase SDK version: 4
  * Library version: 4.7.1
  * Firebase Product: auth

### Describe the problem

ImportUsers request failed with INVALID_HASH_PARAMETERS. After digging through the code and comparing with the Node SDK I noticed that the key for `hash.StandardScrypt.MemoryCost` was different between the two

[2022-03-17 18:37] lahirumaramba commented on #489
Hi @VictorKeil Thank you filing this issue. You are right! It looks like `cpuMemCost` is used for `STANDARD_SCRYPT` hashing function.

Hi @prameshj, according to the[ REST API](https://cloud.google.com/identity-platform/docs/reference/rest/v1/projects.accounts/batchCreate) it looks like `memoryCost` is used for `SCRYPT` hashing function and `cpuMemCost` is used for `STANDARD_SCRYPT`. I checked the

[2022-03-17 23:31] prameshj commented on #489
For this specific issue, I think we just need to modify [this line](https://github.com/firebase/firebase-admin-go/blob/02cde4f8d8d75e4b3dba6b15f95bda7b7e2d54ab/auth/hash/hash.go#L67)  from"memoryCost" to "cpuMemoryCost" as Victor pointed out.

memoryCost isn't exposed, from what I can tell. It is hardcoded to 1024. If we do expose it, then makes sense to expose a single parameter and copy it to th

[2022-03-18 21:39] axelsly opened #491 "FR: MFA support revisted"
### Describe your environment

  * Operating System version: All
  * Firebase SDK version: v4.7.1
  * Firebase Product: auth

### Describe the problem

Circling back on #421, looking to add MFA to a user. MFA exists in the Node SDK, are there plans to add this to Golang SDK in the near-term?

[2022-03-24 21:40] chong-shao commented on #488
Hello, this feature request is similar to https://github.com/firebase/firebase-admin-node/issues/1179, please stay tuned for updates.

Will close this one and keep https://github.com/firebase/firebase-admin-node/issues/1179 open

[2022-03-24 21:40] #488 closed

[2022-03-28 06:58] prameshj commented on #489
/assign @VictorKeil

[2022-03-30 18:39] lahirumaramba commented on #491
MFA support is added to UserRecord in https://github.com/firebase/firebase-admin-go/pull/422. Should be available since [v4.5.0](https://firebase.google.com/support/release-notes/admin/go#authentication_4)

[2022-04-06 14:06] sonatard commented on #372
Fixed

https://github.com/firebase/firebase-admin-go/pull/412

[2022-04-11 18:54] axelsly commented on #491
Reopening this as there may have been some confusion. Looking to add MFA to a user when calling `CreateUser` or `UpdateUser`. For example, the [Node admin SDK ](https://github.com/firebase/firebase-admin-node/blob/master/etc/firebase-admin.auth.api.md) lets us pass in MFA info when calling such functions:

[code]

Furthermore, from the [Identity Platform](https://console.cloud.google.com/customer-

[2022-04-13 17:09] lahirumaramba commented on #491
Hi @axelsly, sorry for the confusion. #422 only partially implements the MFA API in Go SDK. This is not on our roadmap currently so I am unable to promise a timeline. Let's re-open this issue so we can track any progress here. We are also happy to accept any pull-requests if you or anyone else in the community would like to contribute. :)
Thanks!

[2022-04-22 10:28] dysrama opened #494 "Manage Session Cookies for tenants"
Step 2: Describe your environment
Operating System version: all
Firebase SDK version: v4.8.0
Firebase Product: auth

Step 3: Describe the problem
I would like to implement session cookies for tenants, not just standard auth.
It seems to be an existing feature, and it looks like the node SDK support it https://firebase.google.com/docs/reference/admin/node/firebase-admin.auth.tenantawareauth.md#tena

[2022-04-23 12:53] wesselvanderlinden commented on #298
It looks like @kenshin54 made a PR, can this be merged? Would be really nice to be able to use the database emulator!

[2022-04-26 13:14] benmarsden commented on #298
Agreed!

[2022-04-28 15:31] lahirumaramba commented on #494
Hi @dysrama Thank you for the feature request! This feature is not on our immediate roadmap plan. We will use this issue to track any progress. We also accept community contributions to the code base if you would like to submit a PR!

[2022-05-11 17:05] cathex-ryan-deamer opened #495 "How do you list all users?"
Getusers only returns a single user, can you tell me what I need to use to list all users?

Thanks,

Ryan

[2022-05-11 21:07] lahirumaramba commented on #495
The `Users()` API should return all the users (1000 users at a time). Please see https://firebase.google.com/docs/auth/admin/manage-users#list_all_users

In the future, please use Stack Overflow for usage questions. Thanks!

[2022-05-11 21:07] #495 closed

[2022-06-02 02:46] yuchenshi commented on #463
Hi there, can someone share a sample stack trace and a sample token where `aud` isn't set properly? The Auth Emulator seems to set `aud` here but there may be some other issue we are unaware of. https://github.com/firebase/firebase-tools/blob/81ec80303ced030d12c2c444da698686b17fa483/src/emulator/auth/operations.ts#L2246

[2022-06-02 12:28] will-osborne commented on #463
@yuchenshi
[code]
As you can see the VerifyIDToken func expects the audience to be the projectID of the emulator, wheras the CustomToken function sets the audience of the token to the IdentityToolkit URI.

My workaround for this was to use the golang-jwt pkg to manually create a JWT with the following claims (where user var  is a UserRecord of a test user that exists in firebase auth emulator)
[co

[2022-06-02 23:46] yuchenshi commented on #463
@will-osborne Thanks for sharing your use case. Just to clarify, a [Custom Token](https://firebase.google.com/docs/auth/web/custom-auth) is not a stand-in for a Firebase Auth ID token, but a different kind of credential that can be used to *exchange* for an ID token. The *exchange* process involves calling a backend API (or using the SDK, as documented in the link above), which can be either Fireb

[2022-06-02 23:46] #463 closed

[2022-06-14 11:32] Cililing commented on #170
I don't get it, the "legacy" way of sending messages allows to use `map[string]any`, but the "modern" framework does not. ¯\_(ツ)_/¯

[2022-06-27 15:50] Dal-Papa opened #501 "FR: Allow for sending of an out-of-band email action link"
### [READ] Step 1: Are you in the right place?

✅

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Google App Engine, Go 1.16 Runtime
  * Firebase SDK version: ?
  * Library version: v4.8.0
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

When using the `EmailSignInLink` or other functions that use `generateEmailActi

[2022-06-27 21:44] daveteu opened #503 "Error building - undefined: storage.CommonRequestParams"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS
  * Firebase SDK version: admin
  * Library version: v4
  * Firebase Product: auth

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

New project with the following codes

[code]

Error encountered

[code]

PS: I am just using firebase admin for authentication, I do not have any codes that is

[2022-06-28 04:19] daveteu commented on #503
This issue is related to https://github.com/googleapis/google-cloud-go/issues/6055

I'm not sure why firebase admin is bundled with 1.21.0 and no one is reporting the same error as me, but it can be resolved should we upgrade cloud.google.com/go ourself to 1.22.1 which is the version that fixed the bug.

Solution
[code]

[2022-07-20 13:40] saamarthgupta01 commented on #170
Has anyone been able to find a workaround for this?

[2022-07-28 00:11] hiteshkumar848 opened #504 "firebase admin sdk build error"
### Environment

  * Operating System version: macOS Monterey Version 12.4
  * Firebase SDK version:  4.8.0/ 3.13.0
  * Firebase Product: messaging

### Problem

Getting the following on running go build main.go
vendor/github.com/firebase/firebase-admin-go/firebase.go:31:2: use of internal package firebase.google.com/go/internal not allowed

The error seems correct according to the [document](http

[2022-08-01 18:35] nilsmagnus commented on #116
I had the same problem. I was running the server on google-cloud-run in one project, and the firebase-project was another account. To solve it I had to manually fill in all the `firebase.Config` object like this:

[code]

[2022-08-18 11:47] SealinGp opened #506 "not working in Firefox Browser ?"
### [READ] Step 1: Are you in the right place?
  as mentioned in doc
     https://firebase.google.com/docs/cloud-messaging/js/client
     https://caniuse.com/push-api
"The FCM JavaScript API lets you receive notification messages in web apps running in browsers that support the [Push API](https://www.w3.org/TR/push-api/)."

### [REQUIRED] Step 2: Describe your environment

  * Operating System ver

[2022-08-19 02:34] SealinGp commented on #506
likely issue: https://github.com/firebase/firebase-js-sdk/issues/6523

[2022-08-28 11:23] Albert-Gao opened #509 "To add support for server value increment"
Hi, I have a use case of updating a counter field in the realtime db, and i am looking for this `ServerValue.Increment()` API, seems not supported in golang sdk.

I want to update this field on the server side without having to read the original value and do not need to worry about multi-write conflicts.

### - The doc for ServerValue.Increment():
https://firebase.google.com/docs/database/web/read

[2022-09-13 13:10] DaanvandeHaar opened #510 "Error when trying to install firebase-admin-go"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: MacOS Catalina 10.15.7
  * Firebase SDK version: Latest
  * Library version: Latest
  * Firebase Product: _____

### [REQUIRED] Step 3: Describe the problem

When trying to install firebase-admin-go i'm getting this error:
[code]

[2022-09-14 19:06] lahirumaramba commented on #489
This should be now fixed in #508
Thank you.

[2022-09-14 19:06] #489 closed

[2022-09-29 08:33] vnddr commented on #510
Found this error too. Reproduced it with go 1.17, 1.18 and 1.19

[2022-10-04 20:46] renanbastos93 opened #513 "How to revoke a session old when to do new login?"
I have a big problem I cannot manage my sessions because I have a rule that
I need to keep sessions by mobile/web so I must have only two sessions by user.

How do I get all sessions of the user to later revoke a session old based on a new login?
e.g
new login by mobile, logout  the last session by mobile

[2022-10-07 08:56] dumabg opened #514 "storage: bucket.Objects always returns "bucket doesn't exist" when using Firebase Emulator"
I have a function that deletes some objects. This function works well, but when is used with Firebase Emulator, always return "bucket doesn't exist".

go 1.16

**Code**
e.g.
[code]

**Expected behavior**
Code working with Firebase Emulator

[2022-10-10 14:08] redloveling opened #515 "oauth2: cannot fetch token"
i get an err

unknown error while making an http call: Post "https://fcm.googleapis.com/v1/projects/ghgame001/messages:send": oauth2: cannot fetch token: Post "https://oauth2.googleapis.com/token"

my  code
`
ctx := context.Background()
	app, err := firebase.NewApp(ctx, nil)
	if err != nil {
		log.Fatalln(err)
	}

	fcm, err := app.Messaging(ctx)
	if err != nil {
		log.Fatalln(err)
	}
	token := "dV

[2022-10-13 12:56] ravizbyte opened #516 "firebase-admin-go using hashicorp library which MPL licensed."
firebase-admin-go using hashicorp library which MPL licensed. Can we use some other MIT or apache licensed library.

[2022-10-14 04:26] r-LaForge commented on #298
Referenced PR from @kenshin54 was here: https://github.com/firebase/firebase-admin-go/pull/471, but seems to have closed after a period of activity.

This feature would help our team quite a bit.

[2022-10-14 23:15] r-LaForge commented on #298
With inspiration from @kenshin54 I've taken another look at this here: https://github.com/firebase/firebase-admin-go/pull/517

[2022-10-17 20:18] lahirumaramba commented on #516
Looks like the only hashicorp dependency in the dependency graph is `github.com/hashicorp/golang-lru` and it is not a direct module used by the admin-sdk. I think it is coming from `google.golang.org/api` module. Could you file an issue in that [repo](https://github.com/googleapis/google-api-go-client), please? That way the relevant teams should be able take a look. Thanks!

[2022-10-17 20:18] #516 closed

[2022-10-17 20:30] lahirumaramba commented on #515
Hi, our integration tests and nightly builds do not show any issues on this API. If you are still experiencing this issue please provide us with a minimal repro so we can take a look at it. Thanks!

[2022-10-17 20:52] lahirumaramba commented on #510
Hey @DaanvandeHaar , @vnddr,
We updated the `cloud.google.com/go/storage` dependency in Firebase Admin Go v4.9.0 release. Could you try the new release and see if you are still facing this issue, please? Thank you.

[2022-10-17 20:56] lahirumaramba commented on #506
Hi @SealinGp it seems like a fix has been submitted in https://github.com/firebase/firebase-js-sdk/issues/6523. Are you still experiencing this issue?

[2022-10-17 21:00] lahirumaramba commented on #504
Hi @hiteshkumar848 Could you try changing your imports to the following instead:
[code]
You can also refer to https://github.com/firebase/firebase-admin-go/blob/master/snippets/messaging.go for sample code.

[2022-10-17 21:02] lahirumaramba commented on #503
Thank you for reporting this issue. As the current version now points to `cloud.google.com/go/storage v1.26.0` I am closing this issue. We can reopen later if needed.

[2022-10-17 21:02] #503 closed

[2022-10-18 02:01] redloveling commented on #515
thanks, my local proxy is wrong

[2022-10-18 02:01] #515 closed

[2022-10-19 21:36] renanbastos93 commented on #513
@lahirumaramba
Hi!

Yeah, but I don't want to use other services like Redis, SQL, etc. I would like to use only the firebase/GCP identity.

see ya

[2022-10-20 14:18] rmilejcz opened #518 "cant send push notifications to web via SDK"
* Operating System version: macOS monterey 12.6
  * Firebase SDK version: 4.8.0
  * Library version: v4
  * Firebase Product: messaging

When using the firebase SDK, push notifications that target devices on my web app are not received. Using the same information, I can successfully trigger push notifications to my web app from the google console.

#### Steps to reproduce:

FIrst you would need to

[2022-10-20 14:43] rmilejcz commented on #518
here is my service worker:

[code]

and here is the initialization of firebase in my webapp:

[code]

[2022-10-20 16:20] lahirumaramba commented on #518
Hi @rmilejcz do you get any errors from the messaging API?

Hey @chong-shao any thoughts on what could be wrong here? Thanks!

[2022-10-20 16:28] lahirumaramba commented on #510
I am closing this assuming the issue is now fixed with the dependency upgrade mentioned above. We can reopen later if needed. Thanks.

[2022-10-20 16:28] #510 closed

[2022-10-20 17:56] rmilejcz commented on #518
Hi thanks for your response, I do not receive any error, the return for the error is always `nil`. Also unfortunately I have tested with chrome, firefox, and safari, and I am unable to receive web push on any of them.

[2022-10-21 15:14] rmilejcz commented on #518
Hi I was able to solve the issue by using specifying some Webpush properties, specifically `TTL` and `Urgency`:

[code]

Thank you so much for your time, I hope this helps someone in the future.

[2022-10-21 15:14] #518 closed

[2022-10-21 22:22] renanbastos93 commented on #513
@lahirumaramba thanks a lot for helping me.

FYI: @brenoandrade @PatrickChagastavares @akmissawa @helciofrancotc

[2022-10-28 20:02] lahirumaramba commented on #298
Fixed in #517

[2022-10-28 20:02] #298 closed

[2022-10-28 22:52] christhompsongoogle commented on #514
@tonyjhuang FYI

[2022-11-03 17:17] abhis3 commented on #514
This is an emulator issue, created https://github.com/firebase/firebase-tools/issues/5208

[2022-11-03 17:18] abhis3 commented on #514
@christhompsongoogle I don't have permissions for some reason, mind closing this out?

[2022-11-03 20:24] abhis3 opened #520 "SDK doesn't honor FIREBASE_STORAGE_EMULATOR_HOST environment variable"
Go Version: `1.19.2`
Emulator Version: `11.16.0`

### Describe the problem

The GO Admin SDK doesn't honor the env var set through `FIREBASE_STORAGE_EMULATOR_HOST`. You can see in this [code sample](https://github.com/abhis3/firebase-go-admin-sdk-mvp/blob/main/hello.go#L35) that we need to set `STORAGE_EMULATOR_HOST` as well for this to work, or else the code will still try and point to prod.

You

[2022-11-03 20:30] abhis3 commented on #520
Needs to be labeled with `api:storage`

[2022-11-04 19:00] lahirumaramba commented on #520
Hi @abhis3 ! Thank you so much for reporting this issue. You are right, we need to map the firebase style env var to the cloud style env var. We can follow the same logic we used in the Node.js repo https://github.com/firebase/firebase-admin-node/pull/1175

FYI: @christhompsongoogle

[2022-11-21 18:09] sashayakovtseva commented on #416
I am having the same issue here. We have complex error handling code and want to test it, but FirebaseError is still in internal package.

@lahirumaramba @hiranya911 any news? It's been almost two years since the original proposal and nothing changed.